[2012-11-25 21:38] advaitjain opened #1 "managing collaboration with Redwood"
How do you all want to manage collaboration with Redwood?

Simple example (I'll open an issue for this):
controller_manager depends on pr2_controller_interface. I want to change the manifest.xml but would rather not be pushing to master.

Do you want to try having me fork and send pull requests? I haven't done this before so I don't know exactly what will happen and I'm unsure how this would work

[2012-11-25 21:43] advaitjain opened #2 "residual dependancy in controller_manager?"
The controller_manager manifest.xml lists pr2_controller_interface as a dependency.

I'm guessing that this is a leftover and isn't needed.

I have also opened a separate issue to ask how to manage these things in the future (e.g. using fork and pull etc.)

[2012-11-25 22:37] sachinchitta commented on #1
I would do a fork (for Redwood) and then once you are sure of the changes, do a pull request. Someone other than you will approve the pull request and merge it. This is a solution we are transitioning to for most code bases.

[2012-11-25 22:37] #1 closed, assigned to nobody

[2012-11-25 22:42] wmeeusse commented on #2
I think that's not needed any more, but I'll double check. At some point we moved the pr2_controller_interface package into the new controller manager to allow it to load the old style controllers too. And since the pr2_controller_interface package has no bad dependencies, that kept the dependency tree of the new controller manager clean. But I believe that we have an alternative approach now that

[2012-11-26 19:36] advaitjain opened #3 "compilation error in joint_state_controller"
We're trying a rosmake in joint_state_controller and getting this error:

joint_state_controller.h:55:15: error: ‘JointState’ is not a member of ‘hardware_interface

The offending piece of code is:
std::vector<hardware_interface::JointState> joint_state_;

We don't see any JointState class within the hardware_interface namespace although we do see JointStateHandle and JointStateInterface in joint_

[2012-11-26 19:41] wmeeusse commented on #2
Fixed

[2012-11-26 19:41] #2 closed, assigned to nobody

[2012-11-26 19:44] wmeeusse commented on #3
Fixed. We just renamed JointState to JointStateHandle to be more specific.

[2012-11-26 19:44] #3 closed, assigned to nobody

[2012-11-26 22:51] advaitjain opened #4 "controller_manager_interface (similar to pr2_controller_manager_interface.py)?"
Is there a plan to port pr2_controller_manager_interface.py and pr2_controller_manager (the python script in the scripts folder) to this new controller_manager infrastructure?

We see a spawner but not anything more in controller_manager/scripts.

[2012-11-26 23:59] advaitjain opened #5 "Discussion on different APIs"
Since the Redwood arm has separate motor and joint encoders, it might be nice to distinguish between them and have an easy way for the controllers to use one or the other.

the JointStateInterface currently uses the function names getPosition, getVelocity. Might be good to change this to getMotorPosition, getJointPosition ... (one set could be in the JointStateInterface and the other in MotorState

[2012-11-27 00:04] wmeeusse commented on #4
Yes, these scripts will also exist for the new controller manager. I copied the old scripts into the new controller manager package, and did the basic string replacement porting work. But obviously, these scripts still need to get tested.

[2012-11-27 00:08] wmeeusse commented on #5
This is the prefect time to start thinking about all the interfaces you'd like to see on the redwood arm.  Let's use this ticket to collect all the different API's you'd like to have to your robot. Once we have a pretty complete set, we can revisit the naming of the API's and come up with a consistent scheme.

So your first requirement is the ability to have interfaces on both motors and joints.

[2012-11-27 02:41] advaitjain opened #6 "controller_namager update does not seem to be realtime safe"
Hi Wim,

Rob Wilson and I just found that ros::Time::now() results in a syscall.

Do you all have a good way to test if the code is realtime safe? If you're willing to install RTAI on a machine then we can provide you with our installation instructions and the method that we are using to check for syscalls.

[2012-11-27 02:47] wmeeusse commented on #6
That's a good catch. Ya, I'd love to get your instructions on how to check for syscalls.

[2012-11-27 07:03] advaitjain commented on #6
Here's the method that Rob has come up with:
Run your code on a computer with RTAI installed in a realtime thread. Then do 'watch cat /proc/rtai/scheduler' to see if syscalls are happening. Narrowing down the source of the syscalls unfortunately is simply commenting out parts of the code, recompiling and running to check if the calls persist.

Currently our RTAI installation instructions are on an

[2012-11-27 20:44] advaitjain commented on #5
Adding thoughts about different possible extensions to this issue (we can prune, select and consolidate later):

Can we add a parameter to the controller.yaml file that is essentially a down sampling rate? e.g. call joint state controller every 10th cycle.

Something like this would also be useful for thin wrappers around controllers written in Simulink whose only goal is to provide a ROS interfac

[2012-11-28 00:38] wmeeusse commented on #6
Fixed

[2012-11-28 00:38] #6 closed, assigned to nobody

[2012-11-28 00:38] wmeeusse commented on #4
Fixed

[2012-11-28 00:38] #4 closed, assigned to nobody

[2012-11-28 01:18] advaitjain opened #7 "how to get the list of all the joint names for a robot"
The JointStateInterface no longer has the getJointNames function.

I would still like to be able to get the list of all the joint names but can not figure out how to do that with the new structure.

[2012-11-28 01:43] wmeeusse commented on #5
So we spent some time thinking about all the possible interfaces you could want for a robot, and... the list is pretty much endless. In the current design,  the entire API of every single possible interface needs to have globally unique names. This would force us to come up with crazy long descriptive names. So, we decided to modify the design on the hardware interfaces from an inheritance scheme

[2012-11-28 01:43] #5 closed, assigned to nobody

[2012-11-28 01:44] vpradeep07 commented on #7
Fixed in 30d8a7d8113591c8016f8ccf9e22d9eff1a3d68b
Each interface now has a `getJointNames()` calls.

[2012-11-28 01:44] #7 closed, assigned to nobody

[2012-11-28 01:47] vpradeep07 commented on #5
"There are no changes on the controller side"....

Although, since we no longer need unique method names for each interface type, we shortened the method names from `getEffortJointHandle()` or `getPositionJointHandle()` to `getJointHandle()`.  Thus, this will require a small rename change in your controllers.

[2012-11-28 02:54] advaitjain commented on #5
cool! I think this is a nice change to the design.

Things seem fine with the simple robot class that I'm working with right now. I'll let you all know if I have questions or feedback.

[2012-11-28 03:28] advaitjain opened #8 "RealtimePublisher appears to be making a syscall"
calling unlockAndPublish() causes the RealtimePublisher to make a syscall. If I comment out that line from my code, I don't see any syscalls.

What other information would you guys need to track this down?

[2012-11-28 06:31] advaitjain opened #9 "templated controller implementations to reuse code for multiple hardware interfaces?"
I can imagine that it would be nice if the Cartesian and position effort controllers could work with an EffortJointInterface and an EffortMotorInterface.

Would it be possible to have a templated class for the controllers that can be reused with both the EffortJointInterface and an (as yet undefined) EffortMotorInterface?

If this is a possibility then we could go ahead and define a MotorCommandIn

[2012-11-28 16:37] vpradeep07 commented on #9
Without knowing exactly what the `EffortMotorInterface` looks like, it might be a bit too soon to force it to match all the  calls to the `EffortJointInterface`, so that we can template things against both.

Maybe there's room to make the Cartesian controllers a thin wrapper around a math/control library that could easily be used with both a `JointCommandHandle` and a `MotorCommandHandle`.  That w

[2012-11-28 18:47] advaitjain commented on #9
The EffortMotorInterface would be identical to the EffortJointInterface except that getPosition and getVelocity would return the estimate of the joint angle and velocity using the motor encoders. And getEffort would return the torque applied by the motor.

For the EffortJointInterface the joint encoders would be used and a torque sensor at the joint.

Ideally, a robot like the PR2 would have an Ef

[2012-11-28 20:42] rpwilson commented on #8
Which syscall is it? Restart the computer, start the userspace RTAI loop, and then look at dmesg for the syscall number. Restart is needed because RTAI will only kprintf the first syscall resulting in a hard-soft transition after booting the system to avoid spamming the buffer.

Actually, you might be able to avoid a restart everytime you want to check for the syscall message by reinserting all th

[2012-11-28 21:27] advaitjain commented on #8
Here it is:
[11265.172327] LXRT CHANGED MODE (SYSCALL), PID = 10930, SYSCALL = 240.

240 seems to be a futex.

Thanks a lot for the tip about reinserting all the kernel modules Rob. Rebooting was enough of a pain that I didn't want to dig into it.

[2012-11-28 22:23] rpwilson commented on #8
Cool, I wasn't sure the RTAI module thing would work, but if it does that really simplifies debugging.

In the case that you're running a 64-bit machine it looks like 240 could also be mq_open. Given the name of the offending function, it seems either syscall could make sense.

[2012-11-28 22:50] advaitjain commented on #8
I'm on 32 bit.

[2012-11-29 00:23] advaitjain opened #10 "another question about realtime safety of ControlManager.update"
Hi Wim,

I just started to look at what it would take to switch control modes.

I noticed that STL vectors are getting cleared within the please_switch_ code block.

I'm guessing that this would not be realtime safe.

In this case we could probably clear the vectors in the switchController function?

[2012-11-29 20:53] advaitjain commented on #9
Based on discussion with Wim and Vijay (for documentation and for the benefit of Sachin and Rob):
1. Adding motors to the `EffortJointInterface` would work as a way to use motors with the existing controllers (the `EffortJointInterface` would expose 14 different names, 7 for the joints and 7 for the motors). We could not think of a better name so we will stick with calling it `EffortJointInterface

[2012-11-29 20:53] #9 closed, assigned to nobody

[2013-02-04 02:15] jbohren opened #13 "Organize head development branches"
Right now there are seemingly three development branches: `master`, `fuerte`, and `groovy`. Since this package hasn't been catkinized, should there be any distinction between these three?

[2013-02-04 02:34] wmeeusse commented on #13
These branches are created by the release script; releases into fuerte and groovy were identical up till now. The only development branch we've been using is 'master'. But, in changeset c3b7f4db606dab68d6163c47ea0650aa46b76bd2 we changed the API, which is something we can't release any more into Fuerte, so from now on fuerte and groovy releases are going to be different. I created a new 'fuerte-de

[2013-02-04 02:34] #13 closed, assigned to nobody

[2013-02-04 02:39] jbohren commented on #13
Ah ok, thanks for the clarification!

[2013-02-04 17:31] wmeeusse commented on #13
And, change happens faster than expected: I already created the groovy-dev branch because we're adding new features into the realtime tools package, and we're not allowed to change/add an API until Hydro.

[2013-02-04 17:36] wmeeusse commented on #8
We fixed this in the default branch of ros_control. The problem occurred when the realtime loop acquired the lock, and before the realtime loop called unlock, a non-realtime loop started blocking on the lock. At that point, it's not realtime safe any more to call unlock from the realtime loop.

[2013-02-04 17:36] #8 closed, assigned to nobody

[2013-02-05 22:24] wmeeusse commented on #10
Fixed in the default branch. Moved the clear() calls to non-realtime

[2013-02-05 22:24] #10 closed, assigned to nobody

[2013-02-09 00:33] jbohren opened #19 "Standard way to get URDF / KDL Chain / Robot Model from Hardware Interface?"
I'm adapting the `tff_controller` from www.github.com/jbohren-forks/pr2_doors and like most cartesian controllers, it requires a kinematic model to do it's thing. The old PR2 controller would get the robot model from the old `pr2_mechanism_model` but the neither `hardware_interface::HardwareInterface` nor `hardware_interface::JointCommandInterface` have a standard interface for getting a robot mod

[2013-02-09 05:11] wmeeusse commented on #19
We purposefully left the robot description out of the interfaces; the new controllers fetch the robot description from the parameter server and parse it into a robot model. In the new design, the hardware interfaces are very minimalist, and only provide access to sensors and actuators, but not contain any properties (inertia, joint limits, etc) of the hardware.

[2013-02-09 14:18] jbohren commented on #19
Cool, thanks! So is it reasonable to use a controller-namespace-local URDF parameter, or should a metaparameter (name of another parameter) be passed into the controller to reduce copying the URDF all over the place?

[2013-02-09 15:31] wmeeusse commented on #19
Since the controllers are in a namespace, and ros does not support a parameter like '../robot_description', the only ways to get access are:
- create a new nodehandle inside the init of the controller, and get the 'robot_description' parameter
- copy the robot description into the controller namespace

I've been using the first option for the new controllers.

[2013-02-09 16:29] jbohren commented on #19
Maybe using [ros::param::search()](http://ros.org/doc/groovy/api/roscpp/html/namespaceros_1_1param.html#aa2f629df62708ef810e34bad6c7ef332) would be good, and then report via `ROS_INFO()` about where it finds the URDF?

[2013-02-09 16:32] wmeeusse commented on #19
Cool, I didn't know about the search function. That's a possibility too. So it looks like there are plenty of ways for developers of controllers to get access to the robot description. We could document some of them as 'best practices' on the wiki.

[2013-02-09 17:31] jbohren commented on #19
As a note here's using `ros::param::search()` in the TFF controller: https://github.com/jbohren-forks/ros_controllers/commit/5c2319a34af27111b884f52c0f8e9ce27afab862

[2013-02-13 03:23] jbohren opened #22 "Could ControllerBase::starting() and ::stoping() return true or false depending on success?"
If a controller fails to start or stop, it would be great to be able to report to the system that such a failure has occurred. This would be similar to the way that OROCOS RTT handles these events.

See the current behavior here (success always):
https://github.com/willowgarage/ros_control/blob/master/controller_interface/include/controller_interface/controller_base.h#L93

I know we shouldn't be r

[2013-02-13 03:39] wmeeusse commented on #22
Can you give some examples of situations where you want start/stop to fail?  One way to look at start/stop is that it's the first/last time the update loop runs, and the update loop can't ever fail.

[2013-02-13 04:20] jbohren commented on #22
(: well I'd like it if start/stop never failed, but if there was some computation or resource that failed when [switching controllers](https://github.com/willowgarage/ros_control/blob/master/controller_manager/src/controller_manager.cpp#L99), it would be nice to be able to report the error, catch it, and then try to stop everything else cleanly.

[2013-02-13 04:25] wmeeusse commented on #22
Could you give some more specific examples? During the design discussions for the first controller manager, we decided that we didn't have a good use case for start/stop to fail, so I'm interested in more specific situations where this feature makes sense.

[2013-02-13 04:34] jbohren commented on #22
Ah yeah.

For `starting()`, consider you want to be able to refresh the parameters by restarting the controller. If the input is invalid, then start should fail.

For `starting()` and `stopping()` suppose you had a force sensor that was independent from the robot hardware interface, and you tried opening or closing the device, respectively, and that failed.

Basically, it just makes me nervous whe

[2013-02-13 04:37] jbohren commented on #22
With respect to the parameter-update example (above) I think most of the controllers with `control_toolbox::PID`s in them actually do this.

[2013-02-13 04:40] wmeeusse commented on #22
The examples you give fit really well in the init call, which has the ability to fail. Start/stop has to be realtime safe, so hitting the parameter server or initializing a device is probably going to break that requirement.  My mental model for start/stop is really as something that is part of the realtime update loop.

[2013-02-13 04:41] wmeeusse commented on #22
One more comment: start/stop is guaranteed to happen in the same cycle as your first/last call to  update.

[2013-02-13 04:42] jbohren commented on #22
Ah, I see. That makes sense then. Load/unload can fail, but start/stop shouldn't. (also I was wrong about the PID thing, init vs reset)

[2013-02-13 04:42] #22 closed, assigned to nobody

[2013-02-13 04:44] wmeeusse commented on #22
Cool, glad to have that cleared up, thanks for the comments @jbohren!

[2013-02-13 04:46] #19 closed, assigned to nobody

[2013-04-04 17:07] eacousineau opened #31 "Graceful Handling of Exception / Error in Controlller Update"
Looking at [controller_manager/src/controller_manager.cpp](https://github.com/willowgarage/ros_control/blob/master/controller_manager/src/controller_manager.cpp#L90-L92) (7062d96) in ControllerManager::update(...), there does not seem to be a way to gracefully handle an error from the ControllerBase::updateRequest(...) function, either from catching exceptions or errors.

We think that this featur

[2013-04-20 05:46] kalectro opened #32 "Status of the project"
Hi,

I looked through the wiki pages and a little into the code and would like to know what the status of the project is. The wiki states: "is not even completely written yet"
Is that still true? Is there any plan to publish it? I unfortunately found it a little too late but I seriously consider implementing your controllers for my robot. If this project is ready to use it would be great to have i

[2013-04-22 17:18] wmeeusse commented on #32
Hey Kai,

This project is still under active development, which means it's still not feature complete and the api's might still change.  For this reason we haven't yet made a wide public announcement yet, but as you can see all the code is public already, and the core of the controller management is fully functional and already actively used.  So depending on how much stability you require for you

[2013-04-22 17:53] kalectro commented on #32
Hey Wim,

thank you for the reply. Unfortunately I discovered this project a little too late and already wrote my own position and velocity controller. Is there an approximate release date? I think that even though the API is not stable there should be a wiki article on ros.org to increase visibility and to summarize which features are implemented and which are still on the ToDo list.

Kai

[2013-04-30 16:07] adolfo-rt opened #33 "Unimplemented ControllerManager::getControllerSchedule method"
The [ControllerManager::getControllerSchedule](https://github.com/willowgarage/ros_control/blob/master/controller_manager/include/controller_manager/controller_manager.h#L171) private method is currently unimplemented. Is it a feature yet to be implemented?, if so, what purpose would it serve?.

[2013-04-30 16:43] wmeeusse commented on #33
This is a leftover from the pr2 controller manager that got copy-pasted into the new controller manager. It should be fine to remove this method.

[2013-05-01 16:52] #33 closed, assigned to nobody

[2013-05-02 16:58] adolfo-rt opened #36 "Demangled symbol names for human readable output"
Would it make sense to store _demangled_ symbols when getting the **typeid** of a type?. I could prepare a patch that, when available (gcc >= 3.0), would use demangled names, otherwise fallback to mangled names.

The upside would be that log statements, inspection of controllers via command line (eg. controller_manager/list_controllers), etc. would be much easier to read, eg.

[code]

instead of

[2013-05-02 17:00] wmeeusse commented on #36
+1  I'd love to see that!

[2013-05-03 16:15] #36 closed, assigned to nobody

[2013-05-17 18:47] Donny3000 opened #38 "ros_control and robots without joints/actuators/transmissions"
Hello All,

I have a question to pose to the developers of this stack regarding the overall architecture and it's application to robots in general.  I realize that this area is for issues regarding this stack, but I didn't know where to find a mailing list to present questions such as this. I will be more that willing to redirect this question to a mailing list if one is available. I've following

[2013-05-21 16:31] wmeeusse commented on #38
Ya, that sounds right, and your application looks like a good match for this stack.

Good luck!

[2013-05-21 16:31] #38 closed, assigned to nobody

[2013-05-27 18:04] piyushk opened #39 "timeframe for catkinization"
I just wanted to check if there are any plans to catkinize this stack soon.

Thanks!

[2013-05-27 18:07] jbohren commented on #39
We could also make it a hybrid catkin rosbuild package, and that won't
break anyone.
On May 27, 2013 2:04 PM, "Piyush Khandelwal" notifications@github.com
wrote:

[2013-05-28 10:55] adolfo-rt commented on #39
I agree that catkinization should be an important item in the ros_control todo list, but I second @jbohren's suggestion of supporting both catkin/rosbuild for some time.

I am currently developing against ROS Fuerte, and have no immediate plans of migrating to more recent ROS distros (or taking over the catkinization effort), so backwards compatibility with rosbuild remains important for the time

[2013-05-28 11:03] adolfo-rt commented on #38
I didn't quite understand the "robots without joints/actuators/transmissions" part of the title. For a quadrotor you would at least expose the four propelling rotors as joints, right?, or does the hardware driver only expose a high level controller that operates in Cartesian space?. At any rate you should expose a set of joints, and optionally make transmissions and actuators explicit if this is r

[2013-05-28 14:01] jbohren commented on #39
Take a look at GSCam: https://github.com/ros-drivers/gscam for an example
of how to do this.

On Tue, May 28, 2013 at 6:55 AM, Adolfo Rodriguez Tsouroukdissian <
notifications@github.com> wrote:

##

Jonathan Bohren
Laboratory for Computational Sensing and Robotics
http://dscl.lcsr.jhu.edu/People/JonathanBohren

[2013-05-28 17:03] Donny3000 commented on #38
Well, I wasn't planning on exposing the four propelling rotors as joints because it didn't seem appropriate to describe them as joints since they would be fixed. Likewise, the use of a transmission or actuator didn't seem appropriate for a quadrotor application as well.  But, I probably have a poor understand/application of the terminology (and how the terminology applies to aerial vehicles in gen

[2013-05-30 07:57] adolfo-rt commented on #38
If the Electronic Speed Controllers control the rotor speeds, you can model rotors as velocity-controlled joints. A rotor interacting with the air is not that different from a wheel interacting with the ground. I don't know about aerial robots, but for wheeled robots, wheels are explicitly modeled as joints.

[2013-06-04 15:12] adolfo-rt commented on #31
I propose to close this issue, as a discussion with the same topic has been started [here](https://groups.google.com/forum/?fromgroups#!topic/ros-sig-robot-control/jaffUIsEgjk). The sig seems a better place to discuss such design considerations.

[2013-06-04 15:19] adolfo-rt opened #42 "Harmonize how variables are quoted in log statements."
This is really nitpicking, but I'm a big fan of consistency.

In the hardware_interface and transmission_interface packages, joint, actuator, and transmission names are printed **[between square brackets]**, while in the controller_manager package, controller names are printed **'between single quotes'**. I'd like to harmonize this, so the same delimiters are used throughout the whole of ros_contr

[2013-06-04 17:21] wmeeusse commented on #42
+1 for consistency.  I don't have a strong opinion on what the convention ends up being, so pick whatever you like best.

[2013-06-04 21:39] #31 closed, assigned to nobody

[2013-06-04 23:05] ahendrix commented on #32
+1; is there a stability/release plan for this in the near future?

This is currently a dependency for the core PR2 infrastructure, so it's important that it be stable enough to support a mature robot. In particular, I'm looking forward to a stable, catkinized release for Hydro so that I can release catkinized PR2 stacks.

[2013-06-04 23:30] jbohren commented on #32
Well I do have a catkinized branch that I'm working on here and could be the basis for a hydro-devel branch: https://github.com/willowgarage/ros_control/pull/40

[2013-06-05 07:06] adolfo-rt commented on #42
If I can have it my way, I choose single quotes. Patch will follow shortly

[2013-06-05 17:00] #42 closed, assigned to nobody

[2013-06-06 21:30] davetcoleman commented on #39
I think it would be best if we made a 'hydro-devel' branch for the catkin version, and have the hydro debs no longer use a stack. We would still of course have the rosbuild stuff for previous version.

Also, what is the status of the 'master' branch - can it be removed in favor of a particular ROS distro branch? Is most of the development going on still in the 'fuerte' branch?

I'm making tutorial

[2013-06-06 21:35] davetcoleman commented on #32
+1 for getting this stable enough to be released in Hydro. With MoveIt! just officially released, a lot of people are looking for good controllers to use with MoveIt. There has been discussion and confusion on the MoveIt! mailing list if ros_control is the way to go. Are you guys looking for community involvement on this project?

[2013-06-06 22:00] jbohren commented on #39
Since a few people who are involved in the development are using ros_control with Fuerte, I'm going to modify the catkin branch to use a hybrid buildsystem, and then we can use that for Fuerte/Groovy/Hydro development.

@wmeeusse @vpradeep07 @sachinchitta Would such a change be ok to merge in?

[2013-06-07 02:20] wmeeusse commented on #39
Releasing the hybrid catkin/rosbuild build system into fuerte is a fine thing to do; just make sure the changes are limited to the build system only.   At this point we have tree different (api incompatible) branches: fuerte, groovy and master.  The latest and greatest features can at this point only get released into hydro, but we can safely backport the buildsystem changes to fuerte/groovy.

[2013-06-07 02:21] jbohren commented on #39
Cool, thanks Wim!

@adolfo-rt What branch of ros_control are you using at PAL?

[2013-06-07 08:31] adolfo-rt commented on #32
Community involvement is always welcome :) and will be necessary if we want to see ros_control make it to Hydro. I know there is confusion among MoveIt! users on whether ros_control is the way to go. If we can land a good release with decent documentation, that confusion should go away.

To provide a satisfactory out-of-the-box experience for MoveIt! users, these items should be addressed:
- Imple

[2013-06-07 08:48] adolfo-rt commented on #39
I'm developing against the master branch, which seems to be the latest and greatest (all other branches are +100 commits behind). Since my setup is very particular (Fuerte + latest changes), I would greatly appreciate maintaining rosbuild compatibility in the hydro-devel branch.

[2013-06-07 11:32] jbohren commented on #39
Exactly, I'm just wondering what the "incompatibilities" are that Win was
taking about. I guess he just means that the api changed?

That's good, though. It means the master branch can be given a hybrid
buildsystem and still work with Fuerte.
On Jun 7, 2013 4:49 AM, "Adolfo Rodriguez Tsouroukdissian" <
notifications@github.com> wrote:

[2013-06-07 17:35] davetcoleman commented on #32
That would be great adolfo, I will be working on various aspects of ros_control to work with MoveIt and Gazebo and will be documenting it. I'm happy to help where needed.

[2013-06-08 03:42] wmeeusse commented on #39
@jbohren the incompatibilities are indeed api changes.  Since ros_control is still under development and pre-1.0, we're releasing our latest and greatest version into ros, every time a new ros distro comes out.  The only constraint we have is that once we've released in a ros distro, we can't change the api any more in that same distro. But of course, the next ros distro can have a new api again.

[2013-06-10 07:44] adolfo-rt commented on #39
Two questions on releasing into a ROS distro:
- I understand that the API can't be broken in the same ROS distro. This does not come in conflict with backwards compatible API additions, correct?, ie. the equivalent of a minor version increment in [semantic versioning](http://semver.org/).
- If the ros_control feature set that we want to make available in Hydro is not ready for the initial release

[2013-06-10 14:08] yamokosk commented on #39
We are also using the master branch. But over the next 2 weeks we will be jumping our development to either hydro or groovy.

Sent from my iPhone

On Jun 6, 2013, at 9:21 PM, "Jonathan Bohren" <notifications@github.com<mailto:notifications@github.com>> wrote:

Cool, thanks Wim!

@adolfo-rthttps://github.com/adolfo-rt What branch of ros_control are you using at PAL?

—
Reply to this email directly

[2013-06-10 18:11] davetcoleman commented on #39
We can follow MoveIt's example and release into ROS disto/bloom but still not move out of beta. This would allow us to make breaking API changes as needed but give us the convenience of a build system and pre-built packages. As long as you document and make very clear the code changes needed between versions, I don't think this is a problem.

[2013-06-11 03:55] wmeeusse commented on #39
@adolfo-rt Correct, backwards compatible api additions are okay for pre-1.0 stacks. Instead of delaying the entire stack, we can make a release with the stable feature set only, and then add components to the release as they stabilize. Some packages in the stack (realtime_tools and controller_toolbox) have to get released early on because the pr2 stacks depend on it, and I think the core api's of

[2013-06-12 13:48] adolfo-rt opened #45 "More uniform hardware_interface API"
The different interfaces implemented in the **hardware_interface** package have a very similar look and feel between them, the main differences being mostly aesthetic, eg.

**JointStateInterface:** getJointNames(), registerJoint(...), getJointStateHandle()
**ActuatorCommandInterface:** getActuatorNames(), registerActuator(...), getActuatorHandle()
**ImuSensorInterface:** getSensorNames(), register

[2013-06-12 13:52] adolfo-rt commented on #45
I'd like to add that I've been procrastinating writing tests for the hardware_interface package because of this. I wrote one, but never got to writing all others, as the code of each test would end up being an almost exact copy of the other. API differences are enough to disallow writing a single test for them all.

When writing tests is inconvenient or difficult, I take that as a sign ;-)

[2013-06-12 13:55] yamokosk commented on #45
We went down the exact same path here. But then later scrapped the idea of messing with ros_control directly as it would have broken everything and everyone.

But I'd be up for it..

On 06/12/2013 08:48 AM, Adolfo Rodriguez Tsouroukdissian wrote:

The different interfaces implemented in the hardware_interface package have a very similar look and feel between them, the main differences being mostly

[2013-06-12 13:56] jbohren commented on #45
That's really the first test, right?

I really like the increased consistency of the proposed API, even if it does break things.  That was one of the hurdles I encountered when originally figuring out ros_control.

+1

[2013-06-12 14:06] adolfo-rt commented on #45
@yamokosk I saw you tried something similar in the loadable_Transmissions branch. I also wanted to shy away from an API break with such repercussions, but every time I write a new hardware interface I end up repeating myself, hence this issue...

@jbohren I don't know if I understand the question. It's the first test I write for the **hardware_interface** package, yes, not the first in ros_control

[2013-06-12 14:23] jbohren commented on #45
@adolfo-rt Haha, no I mean that the difficulty of writing tests for an API is the first test of an API, like a meta-test.

[2013-06-13 13:39] adolfo-rt opened #47 "Validate raw data wrapped by hardware_interface"
Currently there is no data validation in place when wrapping raw hardware data in ros_control, eg, nothing prevents you from doing

[code]

One should get feedback when invalid resource registrations occur, so that things don't blow up in your face when the system is actually running and tries to read a dangling pointer.

I'd like to address this issue once some consensus is reached in #45, as its

[2013-06-13 13:44] adolfo-rt opened #48 "Remove the propagate() method from TransmissionInterface"
This will make the TransmissionInterface class more consistent with all other hardware interfaces. If #45 is addressed, then there would be a consistent API for managing joint, actuator, sensor and transmission resources.

The `TransmissionInterface::propagate()` method is convenient for propagating all transmissions in an interface, but could be exposed as a free function taking the TransmissionI

[2013-06-13 14:41] jbohren commented on #45
@davetcoleman might be interested

[2013-06-13 15:13] wmeeusse commented on #45
@adolfo-rt  It's take me some time, but I think I've come around to the new design for registering handles. I was struggling a bit with the extra step we'll require from users to first create a handle and then register that handle, but there seems to be a common pattern between HardwareInterfaces that themselves contain a number of interfaces to individual joints/actuators/etc. I assume in your ex

[2013-06-13 15:34] adolfo-rt commented on #45
I agree that the current design is convenient in that you don't have to go through the intermediate step of explicitly creating a handle, but it's only one extra line of code per resource registration. The main thing that blocks harmonizing hardware interfaces is that the signature of the resource registering method is different for every interface. I think the benefits are worth the extra overhea

[2013-06-13 15:53] adolfo-rt commented on #45
Another comment concerning the convenience (or not) of having to explicitly create a resource handle. Resources like IMUs, which have many data fields --some of which are optional-- are a mess to add to a hardware interface through a `registerSensor(list, of, eight, arguments, 0, 0, how, long)` or similar method. In such cases, constructing the handle in advance is great, and unused optional field

[2013-06-13 16:08] jbohren commented on #39
My PRs [1] [2] have been updated with a hybrid (catkin+rosbuild)
buildsystem.

[1] https://github.com/willowgarage/ros_control/pull/40
[2] https://github.com/willowgarage/ros_controllers/pull/8

-j

On Mon, Jun 10, 2013 at 11:55 PM, wmeeusse notifications@github.com wrote:

##

Jonathan Bohren
Laboratory for Computational Sensing and Robotics
http://dscl.lcsr.jhu.edu/People/JonathanBohren

[2013-06-13 16:22] wmeeusse commented on #39
@jbohren Awesome, thanks Jon!

[2013-06-13 17:29] jbohren opened #50 "Resolve compiler warnings / pmin & pmax functionality"
It looks like there's some old functionality that is `#ifdef 0`'d in limited_proxy.cpp:
https://github.com/willowgarage/ros_control/blob/master/control_toolbox/src/limited_proxy.cpp#L240

Can we decide if this should be in or not?

[2013-06-14 07:31] adolfo-rt commented on #50
**+1**, I saw those warnings as well, but I have no experience with this class, so I can't tell. I tried to get a history of the file, to see how old the `#ifdef 0` is. An svn blame/log on the old svn repo [1] says it dates back to August 2011:

[code]

[code]

At least nobody has missed these changes since then.

[1] https://code.ros.org/svn/wg-ros-pkg/stacks/pr2_controllers/trunk

[2013-06-14 11:27] jbohren commented on #50
Well if it's something Stu did, it's from a long time ago.

[2013-06-14 17:12] adolfo-rt opened #52 "Why do JointStateHandle and JointHandle have empty constructors?"
Handles are pretty much useless when created with these constructors. They were added in 2a3c118, but the reason was not documented. What was the original purpose?, to do something like...

[code]

I don't like much the idea of constructing unusable objects.

[2013-06-14 17:16] wmeeusse commented on #52
Our controllers often store a vector of handles as class members, which requires the handle to have an empty constructor. The alternative is to store vectors of (shared) pointers, but that's a bit more messy in its own way.

[2013-06-14 21:51] davetcoleman commented on #45
I don't have a enough grasp of the code layout to comment on its necessity,  it seems to makes sense. We should get this in soon so that we can stabilize the Hydro release.

This change does add another layer of complexity to the code base - on a side note, do you think you could make some sort of diagram showing the inheritance layers of the various classes? I'll happily contribute to fixing it u

[2013-06-14 21:57] davetcoleman commented on #39
This is great, thanks so much!

[2013-06-17 07:46] adolfo-rt commented on #52
I understand your use case. What I then propose to do is to:
- Address #47, so make sure that when you _do_ initialize the raw data, no dangling pointers remain.
- Add (debug-only) assertions so that if you crash the process due to an invalid read, you get direct feedback of what went wrong, saving you the extra step of setting up a gdb session to find the source of the crash.

The above must be i

[2013-06-17 09:06] adolfo-rt commented on #45
I agree that time is a scarce resource, but it's important that the dust settles a bit as well, especially concerning interfaces with the most user-facing visibility (like the joint interfaces).

I would say verbosity or length rather than complexity. You can even think of it as it _"making some lines wider"_ ;-), for instance, this

[code]

becomes

[code]

which is 85 chars wide. You may want to

[2013-06-18 03:48] wmeeusse commented on #52
Ya, that sounds like a good plan!

[2013-06-18 11:27] adolfo-rt commented on #39
I see that ros_control no longer has a CMakeLists.txt nor a stack.xml at the top level, but ros_controllers does. We should harmonize the two repos in this respect.

As a rosbuild user, I prefer to keep these files, (or at least stack.xml) as they allow to call rosmake on stacks. Any objection from the catkin side?.

[2013-06-18 14:03] adolfo-rt commented on #45
These pull requests address the issue at hand for [ros_control](https://github.com/willowgarage/ros_control/pull/54) and [ros_controllers](https://github.com/willowgarage/ros_controllers/pull/14).

### User-facing changes

In the pull requests, the **public API** of the joint, actuator, transmission (and soon sensor) interfaces changes. Consider the EffortJointInterface example:

[code]

Other int

[2013-06-18 17:54] davetcoleman commented on #39
It shouldn't break anything catkin, it just hurts a little on the inside to see them hanging around :)

[2013-06-19 21:34] wmeeusse commented on #45
@adolfo-rt Could you update the wiki here https://github.com/willowgarage/ros_control/wiki/hardware_interface?
Thanks!

[2013-06-20 03:50] davetcoleman commented on #45
@adolfo-rt, in your above example:

You missed changing `getJointStateHandle` to `getHandle` in the second part.

Maybe this helps others as an example - I just updated the gazebo plugin demo and had to make these changes:

[code]

becomes

[code]

[2013-06-20 07:17] adolfo-rt commented on #45
No problem, I'll take care of it today. I was waiting for the merge in case some additional API changes came out during the final review.

@davetcoleman Yes, I made a mistake two examples ago. Good catch. The last example explaining the pull request should be good. Also, I'll take a look at the ros_control_gazebo packages sometime between now and early next week.

[2013-06-20 07:17] #45 closed, assigned to nobody

[2013-06-20 07:24] davetcoleman commented on #45
fyi I've just started working on a fairly different version of the `ros_control_gazebo` packages to make it more generic to any robot.

[2013-06-20 07:31] adolfo-rt commented on #45
How would you compare the existing implementation with the one you're preparing?. What part of ros_control_gazebo have you found to be limiting generality?. I'm very interested in hearing out the difficulties/limitations others are encountering with ros_control and its surrounding packages (to then make it better, of course).

[2013-06-20 10:37] adolfo-rt commented on #47
Addressed in pull request #54.

An important thing to note is that certain scenarios cannot be validated at handle construction time. Example:

[code]

I don't think we can address this with the current API, so it's something to be careful about. Stating it here for the record.

[2013-06-20 10:37] #47 closed, assigned to nobody

[2013-06-20 10:39] adolfo-rt commented on #48
Issue #45 addressed the API consistency issue. I don't see the harm in exposing additional interface-specific methods, so for now propagate stays. It's very convenient to use it as it is.

[2013-06-20 10:39] #48 closed, assigned to nobody

[2013-06-20 14:37] davetcoleman commented on #45
This one populates its joints within the hardware interface based on the `<transmission>` tags.

[2013-06-20 23:51] davetcoleman opened #64 "Should the controller_manager's services be namespaced?"
I noticed when using `rosrun controller_manager spawner` there isn't an argument to specify a namespace, and it expects the load_controller service to be at `/controller_manager/load_controller`. Is this on purpose or should I add this feature to the spawner?

Currently, my robot as its controller manager services at
`rrbot/ros_control/controller_manager/load_controller`

[2013-06-21 00:07] wmeeusse commented on #64
I'm not sure I understand your comment exactly, but when you start the controller manager and spawner in the same namespace, they'll talk to each other.  So, in your example, you could spawn both of them in the rrbot/ros_control namespace, and they'll still happily talk to each other.  Does that behavior cover your usecase? If not, could you describe in a bit more detail what features you're talki

[2013-06-21 19:09] davetcoleman commented on #64
I added the command line argument in https://github.com/willowgarage/ros_control/pull/56

[2013-06-21 19:15] wmeeusse commented on #64
@davetcoleman Could you still comment on my question above?

[2013-06-24 17:21] davetcoleman commented on #64
From my understanding, the only way to start the controller manager and spawner in the same namespace is to use `roslaunch` with a, for example, `ns='/robot/ros_control/'` attribute. If you want to use the spawner without `roslaunch`, using `rosrun`, you'd need a command line argument for the namespace, as I have added.

[2013-06-24 22:44] ahendrix commented on #39
The Hydro beta freeze is June 29th, in 5 days; I need a release before then so that I can proceed with PR2 releases.

If I don't get any objections, I will release the current master branch of ros_control into Hydro tomorrow, as version 0.1.

[2013-06-24 23:40] jbohren commented on #39
I, for one plan to continue to build it from source.

[2013-06-25 04:59] wmeeusse commented on #64
Okay, that makes sense. For that functionality I've typically used the command line tools in ros_control, e.g. "rosrun controller_manager controller_manager spawn rosot/ros_control/controller_name". If those tools don't cover your needs, I'm happy to merge in the new feature in spawner. Let me know what you think.

[2013-06-25 07:20] adolfo-rt commented on #39
Me too, as I'm actively developing, and not in Hydro.

[2013-06-25 17:32] davetcoleman commented on #39
We need Hydro debians for Gazebo's ros_control bindings. Also, could this be released into Groovy as well?

[2013-06-25 17:55] jbohren commented on #39
(by which @davetcoleman means we need hydro debians of ros_control & ros_controllers so that gazebo's ros_control bindings can also be made into debians)

@wmeeusse thoughts on releasing into groovy?

[2013-06-25 18:28] davetcoleman commented on #64
I wasn't aware of those command line tools but I still think this is a simple feature that shouldn't hurt anything.

[2013-06-25 18:53] wmeeusse commented on #39
Both ros_control and ros_controllers have already been released into Groovy, with an older api. We can't break that api, but we can release a version of ros_control_gazebo into groovy that works with that older api.

[2013-06-25 18:54] wmeeusse commented on #64
Merged in the change!

[2013-06-25 18:54] #64 closed, assigned to nobody

[2013-06-25 20:04] mikeferguson commented on #39
@wmeeusse They were released as 0.0.1, correct? Many (if not most) packages released with <0.5.0 have often had API-breaking changes. The old stack policy page (http://www.ros.org/wiki/StackVersionPolicy) doesn't even mention "stable API" until 0.4.0 and above. I suppose you'd want to evaluate how many users would be effected by breaking the API in Groovy, but there is no rule (even in the REPs) t

[2013-06-25 20:45] ahendrix commented on #39
@mikeferguson The PR2 is _ALREADY_ ported to this, and released more or less without my consent... grumble... grumble... I just have to live with it and push things forward as best I can.

[2013-06-25 20:52] mikeferguson commented on #39
@ahendrix Ah.. OK

[2013-06-26 01:49] wmeeusse commented on #39
@mikeferguson Within the model of the stack policy, I'd argue we're currently still pre-tick-tock, but at the point where we're keeping a stable api within each ros release. I guess this puts us somewhere at the 0.4.x level. Our version number doesn't reflect that, but it seems silly to just bump the version up to correspond to the policy.  So I don't think we already need to go through deprecatio

[2013-06-26 04:57] jbohren opened #68 "organization icon for ros-controls"
![ros_controls_dots](https://f.cloud.github.com/assets/1253450/707476/2b85cc3e-de1d-11e2-8ed8-946fa8bef099.png)

[2013-06-26 04:59] wmeeusse commented on #68
Love it, nice work!

[2013-06-26 04:59] jbohren commented on #68
(just updated to remove some space between connectors)

[2013-06-26 06:19] davetcoleman commented on #68
Sweet!

[2013-06-26 07:03] ahendrix commented on #39
Released version 0.4.0 into Hydro.

There's still time during the Hydro beta freeze over the next month for bug fixes and minor API changes.

[2013-06-26 07:03] #39 closed, assigned to nobody

[2013-06-26 07:11] jbohren commented on #68
Who here actually has admin rights to set the org icon to this, anyway?

[2013-06-26 07:12] ahendrix commented on #68
I do. I think it's set, and should be showing up shortly.

[2013-06-26 07:14] ahendrix commented on #68
Done. Thanks for the awesome logo!

[2013-06-26 07:14] #68 closed, assigned to ahendrix

[2013-06-26 07:19] jbohren commented on #68
Sweet, thanks!

[2013-06-26 08:01] adolfo-rt commented on #68
+`std::numeric_limits<long double>::max();`

Yeah!

[2013-06-26 08:55] jbohren commented on #68
@adolfo-rt that's a strange-looking emoji...

[2013-06-26 12:51] adolfo-rt commented on #52
There is one scenario currently not covered by the validity tests:

[code]

I see no clean and simple way to handle it. I'm closing the issue, but wanted to leave the scenario documented for the record.

[2013-06-26 12:51] #52 closed, assigned to nobody

[2013-06-26 12:58] adolfo-rt opened #69 "Where should main development take place?"
Now that the hydro-devel branch is in place, does it make sense to keep master alive?.

[2013-06-26 14:11] yamokosk commented on #68
Very nice!

On 06/25/2013 11:57 PM, Jonathan Bohren wrote:

[https://f.cloud.github.com/assets/1253450/707473/edb68cd6-de1c-11e2-9812-a961aa7a6e18.png]https://f.cloud.github.com/assets/1253450/707473/edb68cd6-de1c-11e2-9812-a961aa7a6e18.png

—
Reply to this email directly or view it on GitHubhttps://github.com/ros-controls/ros_control/issues/68.

[2013-06-26 14:59] davetcoleman commented on #69
It would be much easier keeping track of changes to remove it.

[2013-06-26 15:24] adolfo-rt commented on #69
Makes sense, I just pushed today some changes in master, while others are pushing to hydro-devel. A similar discussion is going on over ros_controllers and the consensus seems to be to get rid of master. Shall we then put them up to date with each other and remove master?.

[2013-06-26 15:54] davetcoleman commented on #69
+1

[2013-06-26 18:52] davetcoleman commented on #69
I've been committing to `hydro-devel`

[2013-07-02 15:54] jbohren opened #74 "[proposal] trajectory_interface"
It's looking like another module of the ros_control toolchain that we could provide a pluggin-able interface for is trajectory interpolation.

The goal here would be to provide a simple interface that includes:
- standard processing of [JointTrajectory](http://ros.org/doc/api/trajectory_msgs/html/msg/JointTrajectory.html) messages and [CartesianTrajectory](http://www.ros.org/wiki/trajectory_msgs/R

[2013-07-02 22:41] wmeeusse commented on #74
Sounds like a good plan!  Not sure where you say 'pluggin-able' interface, if you mean a plugin that can be loaded at runtime, or just a set of re-usable components in a library that can be integrated at compile time by a controller builder.  For this use case I'm imagining that the latter makes most sense.

[2013-07-02 22:42] jbohren commented on #74
I did mean a library that can be loaded at runtime. We can still build a library of loadable tractory generators / interpolators, but I like being able to load such components as plugins.

[2013-07-02 22:48] sachinchitta commented on #74
Might be worthwhile looking at all the options we have before diving deeper and re-inventing the wheel. For the interpolation itself, the options include (1) KDL (2) Reflexxes (3) MoveIt! itself does interpolation inside robot_state and also (for trajectory generation) has the iterative spline smoother (4) Some of the old code in arm_navigation could be reused (5) I think Bullet has some interpola

[2013-07-02 23:12] jbohren commented on #74
@sachinchitta

Which is exactly why I'm describing this as a trajectory interface, and not a trajectory library, and suggesting that it be a plugin-able interface which we can use to give all of these different implementations a common API.

[2013-07-02 23:12] jbohren commented on #74
(of course those lightweight plugins need to reside somewhere)

[2013-07-02 23:22] wmeeusse commented on #74
Having a lightweight interface is a requirement that is independent of loading code a runtime vs loading code at compile time.  However, loading code at runtime requires a bit more tooling, and makes it harder to reuse the code in a different setup.  A library is still the easiest way to share and reuse code across different systems.  Also, when you can resolve problems at compile time, that is ge

[2013-07-02 23:25] jbohren commented on #74
@wmeeusse

Well if the library is being used by a controller, and the controllers are dynamically-loaded, then either the controllers need to depend on this library of trajectory wrapper implementations or they need to be dynamically-loadable. It simply decouples the dependencies.

[2013-07-03 00:14] wmeeusse commented on #74
It seems okay if a controller that needs trajectories depends on a library of trajectory implementations. In the end, you can't get away from that dependency; it'll either be a compile time dependency or a run time dependency.  So I'm still not sure what we're gaining by moving to runtime plugins. Sorry to keep pushing on this one, I'd love to get a better understanding of the motivation behind th

[2013-07-03 00:19] bit-pirate commented on #74
Currently, I can't see any need on my side for loading/switching various interpolation methods on runtime. I still like the idea though.

Having dynamically loadable interpolation and control methods would allow to create new flavours of controllers by just writing a launcher. Otherwise we will need to implement each combination as a separate controller (e.g. interpolation_A_control_method_B_contr

[2013-07-03 00:22] jbohren commented on #74
Except with a plugin-based interface the controllers themselves only need to depend on the interface, and not the interpolation implementations. That way one person can write a controller, and an unconnected person can write an interpolator, and then a third person can use both without having to create a new controller. It also allows simple and lightweight controller configuration as @bit-pirate

[2013-07-03 08:50] adolfo-rt commented on #74
I think there is a big need for a trajectory interface, and I see the gain in giving it plugin support, for the same combinatorial explosion reason given by @bit-pirate ìn an [earlier post](https://github.com/ros-controls/ros_control/issues/74#issuecomment-20388164). The extra tooling effort will be worth it. Further, if a usecase prefers to have a build-time dependency, you can always choose to n

[2013-07-03 11:30] jbohren opened #75 "[proposal] Support multiple hardware interfaces in controllers"
### Introduction

As of this writing, the biggest limitation that I see in ros_control is its inability to connect a single controller to two different hardware interfaces / robot hardware abstractions. As far as I can tell, removing this limitation would fundamentally change the design of ros_control.
1. Closing a control loop between two `RobotHW` components at the level of ros_control (consider

[2013-07-03 13:00] adolfo-rt commented on #75
This is a big limitation, yes. You have summarized very well the usecases that are currently not supported. I haven't thought enough about the problem to fully understand the repercussions of your proposals, but I'll describe how I managed to hack a controller with multiple hardware interfaces.

The usecase is that of a biped walking controller that has **one** `PositionJointInterface`, but also r

[2013-07-03 13:30] adolfo-rt commented on #69
API additions and non-API-breaking changes should go to hydro-devel, and master is reserved for API-breaking changes then?. I just don't know where the line is drawn here, as it's the first time I work with the ros-style branch model.

[2013-07-03 17:46] wmeeusse commented on #69
@adolfo-rt  Yes, you're right on!  Let me just add that the hydro-dev branch only gets locked for API changes once it gets officially released into Hydro.  I'm not sure if we already passed the lockdown date or not, but until the lockdown you can still break the API in the hydro-dev branch.

[2013-07-03 17:58] wmeeusse commented on #75
@jbohren Appreciate the motivation and usecases in your proposal!  I'm on board with the idea that this should get fixed.  I need to think through the consequences of each of the proposals, but at first glance the idea to pass multiple RobotHW instances to a controllers sounds cleanest.

[2013-07-04 07:25] adolfo-rt commented on #69
Thanks for the clarification. Now I got it!. I don't have any API breaking changes under the sleeve, but wanted to know how to proceed in such a case.

[2013-07-06 07:35] gavanderhoorn opened #78 "Typos in package.xml & manifest.xml in transmission_interface"
"Interaface" -> "Interface" in both package.xml and manifest.xml of the `transmission_interface` package (description element).

[2013-07-08 08:22] #78 closed, assigned to nobody

[2013-07-08 16:28] adolfo-rt opened #79 "Unit test soft joint limits interface for effort-controlled joints"
It's the only part of the `joint_limits_interface` package without coverage.

[2013-07-08 16:29] adolfo-rt opened #80 "Document soft joint limits algorithm for effort and position controlled joints"

[2013-07-08 18:33] davetcoleman commented on #74
I'm not quite convinced we need run time plugins for this either - that adds a small additional amount of complexity to an already complex controller framework. Instead, could we not have each controller have a build dependency on all the available interpolation methods, and then choose which one a controller uses based on a run time parameter/argument? I'm assuming we won't have _that_ many inter

[2013-07-08 18:39] sachinchitta commented on #74
I prefer runtime plugins - makes it easier to test out different combinations easily. If we had a particular solution for trajectory interpolation and decided to just use that (which might not be a bad idea either), we could have just gone with it. Failing that, I would certainly prefer runtime plugins. Hopefully, we can converge on one library for this but the plugin will keep things flexible in

[2013-07-08 21:13] davetcoleman commented on #69
The Hydro freeze date was officially the Friday before last, so at this point we should be adding new features to a "indigo-devel" branch for ROS Indigo Igloo that will be released next year. **I'd propose we rename "master" to "indigo-devel" to clarify.**

We can still sneak some last minute stuff into Hydro as long as we aren't breaking the API.

Also, should we still have two branches each for

[2013-07-09 08:05] adolfo-rt commented on #69
I have API additions in master that I'd like to incorporate into Hydro. AFAIK this should be OK.

[2013-07-09 17:47] davetcoleman commented on #69
+1 to merging into Hydro and releasing a new version into bloom, but i have 2 pending pull requests that I'd like to get in too

[2013-07-11 18:03] davetcoleman commented on #32
Status update:

What is the status of this? I'm starting to think about this now and was wondering who is working on it. I've reviewed @jbohren's [reflexxes_controllers](https://github.com/jhu-lcsr/reflexxes_controllers) and it looks pretty good. There is this [proposal on trajectory_interfaces](https://github.com/ros-controls/ros_control/issues/74) that looks promising. It seems to me we need Mul

[2013-07-11 18:30] davetcoleman opened #85 "[proposal] Add Multi Joint Controllers"
I'm running into a wall trying to create a controller that needs to control multiple joints/actuators. I believe a similar solution has been proposed here [Support multiple hardware interfaces in controllers](https://github.com/ros-controls/ros_control/issues/75) and a less similar idea of [composite controllers](https://github.com/ros-controls/ros_controllers/issues/12) but it seems to me a simpl

[2013-07-12 10:04] adolfo-rt commented on #85
Controllers can already be multi-joint without having to compose them. It just turns out that the currently available example controllers are single-joint. It would make sense to add multi-joint alternatives, or extend the current ones to be multi-joint. Some time ago I implemented a multi-joint position PID controller, for what it's worth it's [here](https://github.com/pal-robotics/reem_controlle

[2013-07-12 10:31] adolfo-rt commented on #32
This is my currently active task. I don't expect results before the end of the month. Since it's an API addition, we can always land it after the Hydro release.

I'm focusing on feature-parity with the existing PR2 controller, while trying to accommodate as best as possible what has been discussed so far on trajectory interfaces. I haven't been very present on the trajectory interface discussion b

[2013-07-12 14:53] jbohren commented on #32
@adolfo-rt Great stuff! I do like the STL-based binary search, but is there a reason you implemented findSegment instead of using [`std::algorithm::binary_search`](http://www.cplusplus.com/reference/algorithm/binary_search/)? I looked into that when I was implementing my orocos-based trajectory component, but I think I just wanted it to be more self-describing. The documentation is really good, do

[2013-07-12 14:54] jbohren commented on #32
Also also, I like the continued use of this issue for discussing development specific to ros_control.

[2013-07-12 16:36] adolfo-rt commented on #32
Oddly enough `std::binary_search` only tells you if an element is found in the sequence, ie. it returns a bool, not an iterator. If you want iterators, then you have to use the lesser known `std::upper_bound`, `std::lower_bound` or `std::equal_range`.

There's [this](https://github.com/pal-robotics/ros_controllers/blob/joint_trajectory_controller/joint_trajectory_controller/include/joint_trajector

[2013-07-15 11:24] adolfo-rt opened #86 "Unit test transmission_interface parser"

[2013-07-15 13:57] adolfo-rt opened #87 "gazebo_ros_control‎ repo gone?"
I'm getting a 404 error on this URL https://github.com/osrf/gazebo_ros_control‎
Did it go somewhere else?.

@davetcoleman

[2013-07-15 13:59] jbohren commented on #87
Dave brought it into https://github.com/ros-simulation/gazebo_ros_pkgs

[2013-07-15 14:00] #87 closed, assigned to nobody

[2013-07-18 09:00] adolfo-rt opened #89 "ros_control for Hydro still at 0.4.0-2, farm builds broken"
The version of ros_controllers got recently bumped to [0.5.0-0](https://github.com/ros/rosdistro/blob/master/hydro/release.yaml#L1297) in the rosdistro release file for Hydro, while ros_control is still on [0.4.0-2](https://github.com/ros/rosdistro/blob/master/hydro/release.yaml#L1282). This is causing the ros_controllers build to fail, as it's expecting headers from ros_control 0.5.0-0 to be avai

[2013-07-18 21:23] davetcoleman commented on #89
I'm not sure why this wasn't automatically PR'ed by the new bloom scripts (it usually does this now) but I need to add myself to the maintainer tag so that I get these warning emails.

Fixed in https://github.com/ros/rosdistro/pull/1452

[2013-07-18 23:38] davetcoleman commented on #89
New pull request https://github.com/ros/rosdistro/pull/1454

[2013-07-19 07:06] adolfo-rt commented on #89
Thanks!

[2013-07-19 07:06] #89 closed, assigned to davetcoleman

[2013-07-19 09:57] gavanderhoorn opened #90 "Typos in package.xml & manifest.xml in hardware_interface"
Identical to #78, but for `hardware_interface`. Just caught my eye.

[2013-07-19 19:34] davetcoleman commented on #90
What are the typos?

[2013-07-19 19:39] gavanderhoorn commented on #90
but then for the `hardware_interface` package.

[2013-07-19 19:52] davetcoleman commented on #90
Fixed in https://github.com/ros-controls/ros_control/commit/5635d7fd1d0a736b3b6999f630fc74963e4db2c8

Feel free to just send a pull request with fixes like this, they are easily merge-able and much appreciated!

[2013-07-19 19:52] #90 closed, assigned to nobody

[2013-07-24 16:25] davetcoleman opened #98 "Remove FindTINYXML.cmake once released in catkin"
See discussion here:
https://github.com/ros/catkin/pull/486#issuecomment-21447569

Wait for this to be released:
https://github.com/ros/cmake_modules
@wjwwood how will we know when this is released?

Update TinyXML documentation for including the custom cmake file here:
http://www.ros.org/wiki/tinyxml#preview

[2013-07-25 20:23] davetcoleman opened #99 "How to know type of hardware_interface is being used"
If you have a hardware interface that implements more than one type - i.e. EffortJointInterface, PositionJointInterface, VelocityJointInterface - how can you tell which one is currently being used/written to? For example, in the Gazebo ros_control plugin I want to be able to implement all three of the above interfaces, and send commands to a simulated robot depending on which method is being used.

[2013-07-26 02:42] kphawkins commented on #74
I'm looking forward to using this, but I'd like to request that we settle on an interpolation interface which works for most basic use-cases.  I propose that at the controller runtime level, the interface consumes position and velocity vectors of the current state and returns position, velocity, and acceleration vectors of the target state.

As for the plugin/library discussion, I feel like it wou

[2013-07-26 08:39] adolfo-rt commented on #74
All,

I'm posting here an extended variant of a comment made on the robot control sig. I'm currently working on an implementation of the `JointTrajectoryActionController` that should be robot-agnostic, and trajectory-representation-agnostic. It's not finished yet, but it would be nice to have some feedback on how the trajectory interface is looking.

### Trajectory segment

In order to support a n

[2013-07-26 08:50] adolfo-rt commented on #99
Currently there are no `HardwareInterface`s implementing more than one command type.

From your usecase description, I think what you want is to register the same joint to _multiple_ `HardwareInterface`s in your robot hardware abstraction. Then, a controller that wants to use that joint in position mode will get a handle from the `PositionJointInterface`, while a controller that wants to use it in

[2013-07-26 20:59] davetcoleman opened #101 "joint_limits_interface/manifest.xml causing issues with rosdep"
`joint_limits_interface/manifest.xml` includes a reference to a pre-Hydro package, `urdf_interface`. This is as intended so that a rosbuild can work pre-Hydro and catkin can work for Groovy, Hydro and forward.

The problem is that when you run:

[code]

rosdep scans both `package.xml` and `manifest.xml` files and throws errors because it can't find the package `urdf_interface` in Hydro.

I'm not s

[2013-07-26 21:13] wjwwood commented on #101
@dirk-thomas

[2013-07-26 21:19] dirk-thomas commented on #101
`rosdep` has no way to figure out if the package is supposed to be wet or dry since it is _both_. The location in a wet workspace does not allow the conclusion to use only the wet dependencies.

I would highly recommend not to use a single branch for multiple distro especially when when in one of them the package is dry and in another it has been catkinized and is wet.

[2013-07-26 21:25] wjwwood commented on #101
The underlying library here is `rospkg`, which always prefers `manifest.xml`. The catkin version of that is `catkin_pkg` which completely ignores the `manifest.xml`. This allows the "hybrid" package to build correctly in each case, because `rosmake` uses `rospkg` which selects the `manifest.xml` first, and `catkin_make` uses `catkin_pkg` to find packages which ignores the `manifest.xml` all togeth

[2013-07-26 21:44] wjwwood commented on #101
You could conceivably add an option to `rosdep` to make it use `catkin_pkg` rather than `rospkg`, but I don't think `rosdep` could infer the correct thing from the context.

This would likely be an involved change to how rosdep does this...

[2013-07-26 21:52] davetcoleman commented on #99
I think I have figured out my question...

But to explain, we have this default [robot_hw_sim](https://github.com/ros-simulation/gazebo_ros_pkgs/blob/hydro-devel/gazebo_ros_control/src/default_robot_hw_sim.cpp#L197) that implements `robot_hw` for Gazebo. In it, joints can be any of the three hardware interface types. What I want is to be able to send "commands" to Gazebo based on the type of inter

[2013-07-26 23:41] davetcoleman commented on #101
@adolfo-rt how soon until you guys upgrade to catkin? :)

[2013-07-27 15:06] kphawkins opened #102 "Determining Interface Used"
I'm writing an implementation of RobotHW and I need to expose multiple joint interfaces, each of which could potentially claim the same joints.  In the read/write update loop, how do I determine which interface is currently commanding the joints?  I can think of a couple ways to do this indirectly, but I would like to know if there is a direct way or at least an "accepted way".

My current impleme

[2013-07-29 09:33] adolfo-rt commented on #99
To complement my previous post, when you have a single joint expose multiple control modes, you need to do some bookkeeping to keep track of which control modes are active for each joint, and expose methods for mode switching. Active control modes will affect, for example, how transmissions propagate, eg. which commands should be propagated from joint to actuator space?.

The recommended way for s

[2013-07-29 09:36] adolfo-rt commented on #102
There's a similar discussion going on at #99, let's continue over there.

[2013-07-29 09:36] #102 closed, assigned to nobody

[2013-07-29 10:32] adolfo-rt commented on #101
The fastest fix would be to change the rosdep dependency from `urdf_interface` to `urdfdom` in `groovy-devel` and `hydro-devel`. I can then keep a `fuerte-backport` branch in my fork with all the Fuerte-specifics.

I don't make this call, but I would not expect activity in this front until at least the end of the year.

The upside of having the hybrid wet/dry scripts is that it makes it easier _fo

[2013-07-29 17:16] davetcoleman commented on #101
Adolfo, you seem to be the main developer of ros_control right now so making it easy for your to incorporate your work is a priority. Your commitment to tests and in-line documentation is especially appreciated. For that reason I think we should keep the rosbuild support (but hopefully no longer than the next ROS release).

I think simply removing that one line from the manifest.xml in the Hydro/G

[2013-07-29 17:34] wjwwood commented on #101
You can also just remove the manifest.xml before building on Hydro... (rosbuild would not work on hydro).

[2013-07-29 19:33] davetcoleman commented on #101
Yes, currently for the build from source instructions for gazebo_ros_pkgs we are telling users to do `rm joint_limits_interface/manifest.xml` but I was hoping that was a temporary fix.

[2013-07-29 19:42] wjwwood commented on #101
You can also rename the file in git and have the Fuerte instructions rename the file to `manifest.xml`, allowing you to drop that step from Hydro instructions.

[2013-07-29 19:56] davetcoleman commented on #101
I like that idea. And we can add it to .gitignore so that the renamed `manifext.xml` is added back to the repo. @adolfo-rt how does that sound?

[2013-07-29 22:35] davetcoleman commented on #85
I still feel strongly that this is needed. I'm working on the reflexxes effort joint position controller and a lot of its code is simply duplicate code from ros_controllers/effort_controllers/joint_position_controller.cpp. For instance, I fixed a bug in the individual joint position controller: https://github.com/ros-controls/ros_controllers/pull/33 but this same issue is showing up in the multi D

[2013-07-30 07:22] adolfo-rt opened #106 "Joint limits interface: Test rostest+gtest integration."
According to [this](https://github.com/ros/ros_comm/issues/258) ros_comm issue, the rostest+gtest combination does not seem to be well supported in Catkin. Further, I apparently added a test the wrong way in the joint_limits_interface package, as per the answer to this [question](http://answers.ros.org/question/54075/how-does-rostest-work-with-catkin/?comment=69673#comment-69673).

At this moment,

[2013-07-30 07:57] adolfo-rt commented on #85
We're really missing two things here:
- A multi-joint position PID controller. I agree that many will find this incredibly useful. I'd like this to be a single controller, not n controllers side-by-side; because in the former case you only need to write a single command topic, in the latter you need to write to n command topics.
- The ability to chain controllers, already mentioned a few times in

[2013-07-30 10:15] adolfo-rt commented on #101
OK to renaming `manifest.xml` for this package.

[2013-07-30 15:07] davetcoleman commented on #85
I implemented "n controllers side-by-side" yesterday for the trajectory controller I'm working on and its working fine.

You can still have a single command topic for the whole set of sub-controllers.

In a sense the `control_toolbox/pid.cpp` already does this through simple OO design. I don't see how this is different, though, than the trajectory controller I'm working on that pipes the position

[2013-07-30 15:13] davetcoleman commented on #106
+1 for working on tests, i hope this gets resolved!

[2013-07-30 15:28] adolfo-rt commented on #106
Me too. The test code is there. It just needs to get exercised under Catkin.

[2013-07-30 16:47] davetcoleman commented on #101
PR submitted https://github.com/ros-controls/ros_control/pull/108

[2013-07-30 17:53] davetcoleman opened #109 "ros_control not building in build farm"
http://jenkins.willowgarage.com:8080/job/ros-hydro-gazebo-ros-control_binarydeb_quantal_i386/28/console

[code]

@wjwwood  :(

[2013-07-30 17:59] davetcoleman commented on #109
Wrong issue track - this was _gazebo_ ros control

[2013-07-30 17:59] #109 closed, assigned to nobody

[2013-08-02 19:54] davetcoleman opened #110 "Rename Branches"
I'd like to cleanup the branches in this repo, feedback welcomed, similar to what I did in [ros_controllers](https://github.com/ros-controls/ros_controllers/issues/34)

fuerte-dev  --> **fuerte-devel**
fuerte - REMOVE - this is the same as fuerte-dev
groovy-dev --> **groovy-devel**
groovy - REMOVE - this is the same as groovy-dev
**hydro-devel** - keep
master - REMOVE - this is behind hydro-devel

[2013-08-05 07:45] adolfo-rt commented on #110
+1

[2013-08-05 18:37] davetcoleman commented on #85
As an update, you can see the "n controllers side by side" in the Baxter position controller I wrote:

https://github.com/davetcoleman/baxter/blob/master/baxter_controllers/src/baxter_position_controller.cpp

The meat of it is taking the `update()` command and passing it down to all the sub-controllers:

[code]

[2013-08-05 20:56] davetcoleman commented on #110
Completed.

[2013-08-05 20:56] #110 closed, assigned to nobody

[2013-08-07 10:15] adolfo-rt opened #111 "[Controller manager] spawner does not stop+unload controllers when killed"
### Expected behavior:
- Running a spawner loads+starts controllers in arguments.
- Killing the spawner should stop+unload said controllers, as documented [here](http://ros.org/wiki/pr2_controller_manager#spawner).
### Observed behavior:
- Running a spawner loads+starts controllers in arguments, **OK**
- Killing the spawner **does not** stop+unload said controllers, **KO**

This seems like a regre

[2013-08-13 08:27] adolfo-rt commented on #85
I have some feedback on the particular problem of mapping position and position-velocity commands to an effort interface, as I faced this problem last week.

My first attempt was to try to use @davetcoleman's [Baxter controller solution](https://github.com/davetcoleman/baxter/blob/master/baxter_controllers/include/baxter_controllers/baxter_position_controller.h#L99-L101) of storing multiple [singl

[2013-08-13 17:54] davetcoleman commented on #85
You nailed the disadvantages of my method exactly. The main advantage I saw was that there was less code duplication. I hadn't thought about the URDF parsing duplication, but this could probably be solved by passing in to each controller an already parsed urdf reference. I'll admit though your arguments are fairly convincing.

[2013-08-27 17:18] adolfo-rt opened #112 "Invalid actuator and joint TiXmlElement pointers"
The [JointInfo](https://github.com/ros-controls/ros_control/blob/hydro-devel/transmission_interface/include/transmission_interface/transmission_info.h#L61) and [ActuatorInfo](https://github.com/ros-controls/ros_control/blob/hydro-devel/transmission_interface/include/transmission_interface/transmission_info.h#L70) structs contain `TiXmlElement*` instances to transmission-specific configuration. The

[2013-09-05 00:11] davetcoleman commented on #112
Ah, I never actually used those pointers so missed that bug! Feel free to change whatever is needed in those structs - my attention has turned back to grad school projects :)

[2013-09-11 08:23] vmayoral opened #113 "ros_control fixes for integration with meta-ros layer"
Hi,

I'm providing a patch that applies some fixes to improve the ros_control code compatibility with [meta-ros](https://github.com/bmwcarit/meta-ros) (ROS Layer for OpenEmbedded Linux).

The patch is available [here](https://gist.github.com/vmayoral/6520685). Could this fixes be included in your next release?

[2013-09-11 17:44] davetcoleman commented on #113
So it looks like Catkin testing needs to be disabled for meta-ros? That is all this does, right? Seems fine to me.

Also, simply submitting a pull request instead of a Gist-diff is usually the easiest way to propose code changes on Github.

[2013-09-11 17:49] vmayoral commented on #113
Yes, that's what it does.

Perfect then, i'll submit a pull request.

[2013-09-11 17:49] #113 closed, assigned to nobody

[2013-09-18 01:11] jim-rothrock opened #115 "EffortJointSoftLimitsHandle constructor requires soft_limits"
The EffortJointSoftLimitsHandle constructor requires a soft_limits argument, even though the URDF specification states that the <safety_controller> element is optional. My robot's URDF file does not contain safety controllers, so I'm passing a dummy soft_limits to EffortJointSoftLimitsHandle() in my version of default_robot_hw_sim.cpp. This isn't working well, since control is sensitive to the def

[2013-09-18 07:16] adolfo-rt commented on #115
If all you want is to implement a simple position/velocity/effort saturation, 1) is the way to go. The handle constructor would then only require a joint limits specification, but not soft limits.

If you still want to make some sense of the soft limit values, an explanation can be found [here]{http://wiki.ros.org/pr2_controller_manager/safety_limits}.

[2013-09-20 17:49] jim-rothrock commented on #115
I implemented option 1.

[2013-09-20 17:49] #115 closed, assigned to nobody

[2013-09-25 13:03] adolfo-rt opened #117 "Make test dependencies optional"
Leverage the `CATKIN_ENABLE_TESTING` CMake variable (example) and the `<test_depend>` package.xml element.

[2013-09-30 07:52] adolfo-rt opened #119 "Organizing the doc"
All,

Finding documentation for ros_control is not a great experience at the moment. We have resources in the ROS wiki, the ros_control wiki, package README's and Doxygen doc, and there isn't a clear policy of what goes where. I personally take a big chunk of responsibility for the current state of affairs, as I've not been very consistent over time. Now that the dust is starting to settle, it see

[2013-09-30 16:41] davetcoleman commented on #119
+1 to centralizing the documentation. To clarify, when you say "ros_control wiki" you mean the Github wiki. Yes, I think everything belongs on the [wiki.ros.org/ros_control](http://wiki.ros.org/ros_control) wiki and in sub-page tutorials. I put together that page this summer but I didn't want to step on any toes by removing documentation already located in other places.

I also struggle with Doxyg

[2013-10-01 00:24] 130s commented on #119
+1 on centralizing on  http://wiki.ros.org/ros_control. I'm new to controller but the ROS wiki of `ros_control` with the current status already has helped us to figure out which controller framework we'd like to depend upon (the wiki looks very visual and organized) and I'm afraid the same thing might have been a bit more difficult if we had to look at github or doxygen that I think are move advan

[2013-10-01 07:14] adolfo-rt commented on #119
Yes.

I want to leave only the developer doc there. My earlier packages had user doc in the mainpage.dox, which I'd like to move to the more visible ROS wiki.

[2013-10-01 07:44] #111 closed, assigned to nobody

[2013-10-01 08:14] adolfo-rt opened #122 "Implement velocity estimator"
Some robots don't expose joint velocity estimates, either because the hardware  doesn't expose the measurement, or it does expose it but can't be used (not trustworthy, communication bus bandwidth limitations, etc). Whatever the reason, it might be interesting to have an implementation of a joint velocity estimator. Even better would be to also have a good approximation of the joint accelerations,

[2013-10-01 13:29] adolfo-rt commented on #119
The joint trajectory controller user doc just moved from the repo README to a [ros wiki page](http://wiki.ros.org/joint_trajectory_controller). Be sure to check out the part on trajectory replacement, it explains one of the (previously) best kept secrets of the controller.

[2013-10-03 02:40] davetcoleman commented on #119
Wow, really good joint trajectory controller documentation! I read it all and took the opportunity to refresh my quintic spline interpolation knowledge. Thanks!

[2013-10-03 03:30] #101 closed, assigned to nobody

[2013-10-03 03:30] davetcoleman commented on #98
This has been completed.

[2013-10-03 03:30] #98 closed, assigned to nobody

[2013-10-03 03:32] davetcoleman commented on #74
Adolfo has released his `JointTrajectoryController` and I think this fulfills much of this issue. I'm cleaning up old issues so closing this for now. Feel free to reopen if desired.

[2013-10-03 03:32] #74 closed, assigned to nobody

[2013-10-03 08:52] adolfo-rt commented on #74
I just want to note that the `JointTrajectoryController` is a joint-space interpolator. We could repoen this issue in a later time if and when there is interest and available manpower for Cartesian (or other types) of interpolators.

The generic trajectory interface discussed earlier in this thread is implemented and used by the `JointTrajectoryController`. It could be used for Cartesian interpola

[2013-10-04 13:24] adolfo-rt opened #123 "Release 0.5.8"
I was planning on releasing 0.5.8 today, but since I'll be be absent in the coming weeks, I'd rather defer it until my return in case the release does not go smoothly. If there are minor enhancements pending that could land in 0.5.8, please mention them here or issue a PR.

[2013-10-11 22:39] davetcoleman commented on #123
Gazebo 2.0.0 was released yesterday and with it, gazebo_ros_control was updated. It is currently breaking on the build farm because it has dependencies on the latest `joint_limits_interface` because of this commit https://github.com/ros-controls/ros_control/commit/746aed88a26b5fcaa0b59052ea210329b7234a69

I'm going to go ahead and release ros_control now since I need to get this downstream package

[2013-10-11 22:51] davetcoleman commented on #123
https://github.com/ros/rosdistro/pull/2346

[2013-10-11 22:51] #123 closed, assigned to adolfo-rt

[2013-10-25 02:19] kphawkins opened #125 "rqt Controller Manager Plugin"
Does this exist anywhere?  Would people be interested in something like this?  I might throw one together if I get the time and it doesn't exist.  I'd just like to visualize the currently active controllers, stop/start them, and possibly load/unload.

[2013-10-25 23:04] davetcoleman commented on #125
+1 This would be a very much appreciated feature! No, it does not exist yet.

[2013-10-28 09:02] adolfo-rt commented on #125
Great idea, I'd love to see this happen!. You have my support for discussions and testing.

[2013-11-08 22:21] davetcoleman opened #129 "Override Hardware Interface"
I'd like to propose a new feature that I might implement for ros_control that allows controllers to go into an "override" mode where their setpoints are automatically updated to be based on the current state of the robot rather than some user setpoint. This override mode would be flipped on whenever the robot is disabled - an estop is hit, the robot is disabled, or in the case of Baxter, the cuff

[2013-11-08 22:51] sachinchitta commented on #129
We have done this before - e.g. a trajectory controller could check where it is and not take an input that expects it to be somewhere else right away or it could smoothly move to the expected starting position before executing what was commanded. The other way to do this is (at least for position/trajectory control) is to have an intermediate "proxy" which tracks some point between the desired and

[2013-11-08 23:01] yamokosk commented on #129
We've spent a lot of effort on this problem - managing anything that might cause a discrete jump in the command being sent down to the actuators... Gain changes, changing the point of resolution, control modes, etc.

The best approach we found was to instruct the controller to modify its reference command such that the output command being sent down to the actuators before the change equalled the

[2013-11-08 23:19] wmeeusse commented on #129
What a robot should do when the E-stop is pressed, is very specific to the robot itself.  Having the controller repeat the last setpoint is only one possible behavior that could apply to some robots, but it's definitely not the one mode that applies to all robots.  So I don't think the 'override' mode is something we can have a default behavior for.

For mode switches, on e.g.Baxter when you grep

[2013-11-11 17:00] adolfo-rt commented on #129
Many things to comment about.

### Override

+1. The override mode could be achieved with a combination of a position-holding controller (which is constantly updating the current position) plus a call to switch_controllers, if you can afford the latency of two (persistent) service calls. So something like:
- **Squeeze cuff**:
  - Cache currently running controllers using `controller_manager/list_c

[2013-11-16 01:00] davetcoleman opened #130 "Examples of realtime hardware interfaces"
Assuming I have already changed my Linux kernel with a real time patch like `RT_PREEMPT`, does anyone have example hardware interfaces for ros_control that have working real time loops setup that I can use as an example? I'm fairly new to thinking about realtime constraints but have read [this article](https://rt.wiki.kernel.org/index.php/RT_PREEMPT_HOWTO#A_Realtime_.22Hello_World.22_Example) on c

[2013-11-18 02:00] davetcoleman commented on #99
The above pull requests answer this issue, closing.

[2013-11-18 02:00] #99 closed, assigned to nobody

[2013-11-18 02:02] davetcoleman commented on #85
It now seems to me the only controller I need is a joint trajectory controller (for use with MoveIt), which makes this issue moot. Closing.

[2013-11-18 02:02] #85 closed, assigned to nobody

[2013-11-18 02:05] davetcoleman opened #131 "MoveIt Controller Manager Integration"
Has anyone begun or have plans to work on a better controller manager for ros_control that implements the MoveIt controller manager interface?

Currently for MoveIt integration I'm using the [moveit_simple_controller_manager](https://github.com/ros-planning/moveit_plugins/tree/hydro-devel/moveit_simple_controller_manager) but it is really redundant to run that when ros_control already has its own

[2013-11-18 02:18] mikeferguson commented on #131
I'm not sure it is redundant. Personally, my take on "controller manager" within MoveIt is that it is poorly named. It really is a "controller interface", in that it takes plans from MoveIt, and tweaks them into the proper messages/actions/etc such that they can be sent to the actual controllers. In reality, it is neither a controller nor a manager.

The real question I guess is: do you really wan

[2013-11-18 08:56] adolfo-rt commented on #131
Since the ROS API of ros_control's controller manager is the same as that of the PR2 controller manager, you should be able to use the [pr2_moveit_controller_manager](https://github.com/ros-planning/moveit_pr2/tree/hydro-devel/pr2_moveit_plugins/pr2_moveit_controller_manager) out of the box. We have a colleague here that is integrating ros_control with MoveIt! and so far this approach has proved s

[2013-11-18 08:57] adolfo-rt commented on #131
+1

[2013-11-18 10:05] davetcoleman commented on #131
Great point @adolfo-rt, thanks!

[2013-11-18 14:58] adolfo-rt commented on #130
The example from the article is doing the typical things for a rt task: Specify the scheduler policy and priority, pre-fault the stack and lock memory. I never do this explicitly, as I leverage Orocos RTT, which takes care of this. I don't have examples that I can share :(

Yes, we have two robots that should go there, and they are pretty complete examples: mobile base + humanoid torso, and a bipe

[2013-11-27 15:58] jbohren commented on #125
Has anything been put together to this end?

[2013-11-27 16:03] 130s commented on #125
I added this to rqt plugin's [ongoing work list](http://wiki.ros.org/rqt/Plugins#Plugins_currently_in_development) in trial to raise attention.

[2013-11-27 16:49] kphawkins commented on #125
I might have some time to work on this over the next week or so.

[2013-11-27 16:50] adolfo-rt commented on #125
I don't know if it's actually work in progress. @kphawkins, did you end up picking this one up?.

[2013-11-27 16:51] adolfo-rt commented on #125
Wow, posts crossed!. Great to hear!

[2013-12-04 02:36] kphawkins commented on #125
https://github.com/ros-controls/ros_control/pull/132 <- Initial release.

[2013-12-05 10:29] #69 closed, assigned to nobody

[2013-12-05 10:37] adolfo-rt opened #133 "Parse transmissions from URDF"
I plan to start pushing incrementally the work I did during the summer on transmission parsing. This issue will serve as a reference for individual pull requests.

I'll start with some prerequisites that are not directly related to the transmission parsing, but are still required, and once we agree on them, I'll submit the actual code that automates populating transmission and joint interfaces.

[2013-12-09 09:05] adolfo-rt commented on #133
If nobody voices any concerns, I'll merge the first three PRs on Tuesday Dec 10. This will unblock the next set of patches.

[2013-12-16 05:42] davetcoleman commented on #133
I'm out of town but look forward to your improvements on transmission parsing as we discussed last summer. Keep up the good work!

[2014-01-04 02:49] kphawkins commented on #75
I'd like to go ahead and resurface this issue since I'm now running into a similar problem.

My usecase: I have a UR arm and have recently written a RobotHW interface for moving the joints.  I have also attached a Robotiq gripper as an end effector and will soon be mounting the arm to a linear actuator.  I would like to write and release independent RobotHWs for both the gripper and the actuator s

[2014-01-04 03:55] kphawkins commented on #75
Looking at it a little more, it seems like there is very difficult to "add" RobotHW/InterfaceManager instances into a new composite, without again respecifying every single interface added.  Since the only way to obtain each interface is to call the templated method get<T>(), you can't really "add" ResourceManager instances across different RobotHW.  I thought you could achieve this by making a ne

[2014-01-04 08:10] wmeeusse commented on #75
I'd have to dig a bit deeper into the design again to make sure, but I think we can support controllers that use 1, 2, 3, or more interfaces from the same robot, by adding new templated controller classes that derive from the controller base class. Currently the only class that derives from the controller base is Controller<T>, but we can add Controller<T1, T2> and ControllerT1, T2, T3> to support

[2014-01-05 04:49] kphawkins commented on #75
Suppose we created two new classes: RobotHWGroup and InterfaceGroup<T>.  The RobotHWGroup will contain and maintain a list of RobotHW and implement checkForConflict such that it checks for conflicts across the full list of RobotHW.  The new group class would be the parameter passed to the ControllerManager method ControllerBase::initRequest.  Thus, every "main" loop for the robot controller manage

[2014-01-05 05:07] wmeeusse commented on #75
The idea of a RobotHWGroup seems pretty cool.  If I understand it correctly, it would simply be an object that derives from RobotHW, and internally manages the RobotHW of multiple robots. So this would not require any changes to the ros_control framework, right? The only change would be in the main, where a user creates its own RobotHW.

As for the InterfaceGroup, I think we can replace that with

[2014-01-06 00:22] kphawkins commented on #75
The problem which you need InterfaceGroups to overcome is multiple RobotHW instances with identical interfaces (like 2 identical arms).  Since `interfaces_` maintains a 1-1 mapping of interface types to instances, the `T* get()` method would be ambiguous for a RobotHWGroup.

One potential workaround is to make the `get()` call unambiguous by combining multiple interfaces.  This essentially would r

[2014-01-06 01:44] wmeeusse commented on #75
@kphawkins I see your point and how this makes it harder to implement the RobotHWGroup object to support multiple robots that have the same type of interface (by combining multiple interfaces of the same type into  one interface inside RobotHWGroup). On the other side, breaking existing interfaces is a pretty big deal, so if we can get away with spending more time implementing the RobotHWGroup and

[2014-01-06 16:21] kphawkins commented on #75
Can we make get and registerInterface virtual so that they could be properly overridden? ControllerBase::initRequest takes a RobotHW parameter.

[2014-01-07 01:26] wmeeusse commented on #75
That sounds like a good plan, and should not affect our current APIs.

[2014-01-07 11:14] adolfo-rt commented on #75
Catching up here. I haven't thought much about the full implications of the proposed solutions, but some comments do come to mind:

#### Controllers with multiple hardware interfaces

Allowing controllers with multiple hardware interfaces would require changing the `ControllerBase` class at least in the [getHardwareInterfaceType](https://github.com/ros-controls/ros_control/blob/hydro-devel/control

[2014-01-07 23:03] #125 closed, assigned to nobody

[2014-01-08 03:05] wmeeusse commented on #75
@adolfo-rt, some comments:

#### Controllers with multiple hardware interfaces

You're right, there will be a number of smaller changes needed to support controllers with multiple hardware interfaces. I think we can make those changes while maintaining backwards compatibility for most users.

#### Multiple RobotHWs

I think we can do this without changing any existing code. I had a bit more of a g

[2014-01-08 08:27] adolfo-rt commented on #75
I don't know if we can maintain 100% API compatibility, as methods and messages previously containing a single string for the hardware interface identifier now might contain a vector of strings instead. The migration path is not painful, but still exists.

You're right. This would be such a convenience class, with the added benefit that it exposes an existing ros_control interface.

Are you referr

[2014-01-08 22:30] kphawkins commented on #75
I have opened a pull request here:  https://github.com/ros-controls/ros_control/pull/137

It doesn't alter any existing interfaces, and seems to work very much like we've discussed.  Of course, I still haven't figured out same-interface-different-RobotHW problem, but that might require more detailed changes.

I added one major test case which seems to show it working properly, see `robot_hw_group_

[2014-01-09 15:55] adolfo-rt commented on #75
I just went through #137. Great initiative. I think that not supporting multiple identical interfaces is a big issue, and I don't know how to address it at this moment.

**Futile comment**: If C++ allowed reflection (get a type from a string, the opposite of the typeid operator), we could get this done inside the `InterfaceManager` class in a very elegant way. This is impossible, but I still draft

[2014-01-10 09:06] adolfo-rt commented on #75
Implementation details apart, what's your opinion on having a separate RobotHWGroup class vs. supporting the behavior directly by RobotHW?. The RobotHWGroup seems more like an easy way to batch-add contents to a RobotHW. The idea can also be extented to batch-adding handles to interfaces:
- **RobotHW** would allow to batch-add interfaces by merging the contents of another RobotHW with its own.
- *

[2014-01-13 03:28] kphawkins commented on #75
I have submitted another pull request to fix the interface aliasing issue here: https://github.com/ros-controls/ros_control/pull/138  See `robot_hw_group_test.cpp` for an example with new supported usage.

Though this is an extensively involved and potentially confusing implementation, it passes all unit tests, including a new added test which merges identical interfaces from separate `RobotHW`, a

[2014-01-14 11:17] adolfo-rt commented on #75
This is a great step forward. You definitely tackled some of the big issues. I was expecting the implementation to get more involved to support this usecase. Here's some feedback from reading (but not running) the code:
- The biggest issue I anticipated with this work package was proper lifecycle handling of newly created interfaces. As you correctly mention, new combined interfaces are potentiall

[2014-01-18 00:31] kphawkins commented on #75
I'm about to add a few commits based on these comments:
- The memory leak is really hard to tackle, since at `InterfaceManager`'s destruction, it has no idea what types it's storing internally.  Thus it can't call the destructors properly.  Furthermore, I find it difficult to actually consider this a memory leak.  The usage pattern would require someone continually constructing a new `RobotHWGroup

[2014-01-18 01:56] kphawkins commented on #75
https://github.com/ros-controls/ros_control/pull/138 Has been updated.  I have totally removed `RobotHWGroup`, and added `InterfaceManager::registerInterface`.  This allows me to also remove the `findInterfaceData` methods.

One potential use-case which was potentially problematic is the fact that `get<t>()` calls essentially finalize what that method will return, once more than one interface is r

[2014-01-20 00:47] kphawkins commented on #75
https://github.com/ros-controls/ros_control/pull/138 Now includes multi_controller.h, which has an implementation of `Controller<T1,T2>`.  It is a trivial reimplementation of `Controller<T>`, though I simply hacked around the `ControllerBase::getHardwareInterfaceType` problem by just concatenating the type names to form a new string "<(T1 name),(T2 name)>".  I honestly don't see this particular me

[2014-01-20 05:37] PeterQFR opened #139 "Controller not being started in Controller_manager"
I had a problem whereby my controller's update() function was not being called. Additionally the Starting routine was not called either. It was being initialised.

I looked through the code and realised that in the controller_manager.cpp, the function:

ControllerManager::loadController(const std::string& name)

initialised the controller but at no stage did it start the controller. In ControllerB

[2014-01-20 09:51] adolfo-rt commented on #139
Please see my reply [here](http://answers.ros.org/question/119316/controller-manager-not-calling-controllerupdate-routine/?answer=119496#post-id-119496).

[2014-01-23 17:30] #139 closed, assigned to nobody

[2014-01-24 12:10] adolfo-rt commented on #75
Checking in again.

First, from my [inline code](https://github.com/ros-controls/ros_control/pull/138#discussion_r9146185) comment, I think that the `getHardwareInterfaceType()` should get some attention. There are potential complications that no test is covering right now.

Secondly, I don't feel great about leaking a few interface instances, but I agree that under the current design, there's no

[2014-01-30 09:11] davetcoleman opened #140 "Releasing: ros_control, ros_controllers, realtime_tools, and controls_toolbox"
The Gazebo team (@hsu) has indicated gazebo_ros_pkgs is waiting for the ros_control packages to be released due to some changes preventing the Gazebo interface from compiling. Anyone object to me releasing these packages to bloom within the next couple days? @adolfo-rt

[2014-01-30 14:35] adolfo-rt commented on #140
OK for me!

[2014-02-04 23:58] davetcoleman commented on #140
I've released ros_control and ros_controllers
https://github.com/ros/rosdistro/pull/3013
https://github.com/ros/rosdistro/pull/3014

I don't have access to
https://github.com/ros-gbp/control_toolbox-release
https://github.com/ros-gbp/realtime_tools-release
so I can't release that patch (though the patches aren't super necessary). @ahendrix @wjwwood  ?

[2014-02-04 23:59] wjwwood commented on #140
I can give you access if you want.

[2014-02-05 00:03] davetcoleman commented on #140
I'm willing to take that on.

[2014-02-05 00:05] wjwwood commented on #140
Ok, your team (`ros-gbp/ros_control`) should have access now.

[2014-02-05 01:24] davetcoleman commented on #140
Done:
https://github.com/ros/rosdistro/pull/3015
https://github.com/ros/rosdistro/pull/3016

[2014-02-05 01:24] #140 closed, assigned to davetcoleman

[2014-03-03 15:51] adolfo-rt opened #146 "Unit test spawner script"
This script is used a _lot_ of people, and breaking it can cause pain to many. This, and the fact that it has in fact been broken a few times in the past year make it a good candidate for the next test writing effort.

[2014-04-10 10:44] Igorec commented on #75
Hi. What do you think about [pull #151](https://github.com/ros-controls/ros_control/pull/151)

[2014-04-10 22:12] davetcoleman opened #152 "Indigo Release"
For anyone getting these emails (@adolfo) is there anyone working on getting the ros_control packages released into indigo? I personally haven't setup indigo yet since the new Ubuntu isn't released yet, but I know that method exists (chroot) to install ROS Indigo. I'm more inclined to wait until Ubuntu is released before bothering with Indigo (I'm a busy grad student), but this Gazebo issue https:

[2014-04-10 22:20] chadrockey commented on #152
@davetcoleman I don't work on ros_control, but I have released into indigo by installing the 14.04 beta 2 on a computer.

Ubuntu is pretty aggressive about their feature freezes, so I wouldn't hesitate to recommend you just install the beta now.

http://releases.ubuntu.com/14.04/

[2014-04-10 22:37] scpeters commented on #152
I'm using indigo on Ubuntu 13.10, which is already released.

[2014-04-12 10:38] Igorec commented on #75
And what do you think about pull #153

[2014-04-14 09:33] adolfo-rt commented on #152
We should definitely drop all rosbuild support artifacts before releasing into Indigo.

The only thing we should watch out for are pending API braking changes. Along these lines: I have not merged in Hydro my pending transmission parsing changes, because #141 touches some internal APIs that were broken (see [here](https://github.com/ros-controls/ros_control/pull/141/files#diff-12) for actual code

[2014-04-16 09:11] adolfo-rt opened #154 "Remove rosbuild artifacts"
Related to #152.

[2014-04-16 17:17] #154 closed, assigned to adolfo-rt

[2014-04-17 20:48] davetcoleman opened #157 "Convert CMake tests to <test_depend>"
http://wiki.ros.org/catkin/package.xml#Build.2C_Run.2C_and_Test_Dependencies

Me:

Adolfo:

[2014-05-07 20:24] scpeters commented on #152
Bump for indigo release, since it's blocking gazebo_ros_pkgs. We're considering splitting gazebo_ros_pkgs into separate git repositories to make releases of gazebo_msgs, gazebo_ros, and gazebo_plugins separately from gazebo_ros_control (https://github.com/ros-simulation/gazebo_ros_pkgs/issues/179).

[2014-05-10 01:13] davetcoleman commented on #152
I'll work on releasing it this weekend

[2014-05-10 08:25] adolfo-rt commented on #152
I'm in the middle of two weeks of heavy work travel. @davetcoleman, I greatly appreciate your offer, I believe I left all repos ready for release.

[2014-05-12 07:20] davetcoleman commented on #152
rqt_plot and perhaps others from https://github.com/ros-visualization/rqt_common_plugins seem to be blocking ros_control from being released. However, it appears it will be released next Indigo update.  @dirk-thomas is this correct?

I have just released [realtime_tools](https://github.com/ros-controls/realtime_tools/issues/11) and [control_toolbox](https://github.com/ros/rosdistro/pull/4226), and

[2014-05-12 08:04] davetcoleman commented on #152
[ros_control](https://github.com/ros/rosdistro/pull/4227) and [ros_controllers](https://github.com/ros/rosdistro/pull/4228) have both been released into indigo.

There are still other PRs and issues to get into Indigo, but at least now we will not be holding up the new distro release.

[2014-05-12 08:04] #152 closed, assigned to nobody

[2014-05-12 15:10] scpeters commented on #152
Thanks for all your hard work!

[2014-05-12 15:15] davetcoleman commented on #152
Most of the credit goes to @adolfo-rt

[2014-05-14 18:42] jbohren opened #160 "controller_manager: spawner blocks indefinitely if manager shuts down first"
Currently when bringing up a spawner and a controller manager, the spawner blocks on shutdown if the controller manager is shut down first. This wastes a lot of time during testing when bringing up the spawner and manager at the same time in simulation.

Instead, there should be a shorter timeout or a more reliable way of determining if the controller manager is still running.

[2014-05-15 19:53] yaronv commented on #152
Does anyone know when the indigo release is scheduled to? the exact date.
Thanks!

[2014-05-15 20:03] davetcoleman commented on #152
ros_control issues isn't the most relevant place to ask that question. and aside from this month, no.

[2014-05-16 10:19] adolfo-rt commented on #152
We have an Indigo release, yay!.

[2014-05-16 10:27] yaronv commented on #152
Really? it's announcment is not on their site yet

[2014-05-16 10:29] davetcoleman commented on #152
I think @adolfo-rt was referring to ros_control being released into indigo, not Indigo being released itself.

[2014-05-16 11:06] adolfo-rt commented on #152
Hey @yaronv, I am indeed referring to the release of ros-controls into the indigo build farm, which is the subject of this issue.

The official release of ROS Indigo (the distribution) will be announced on ros-users@code.ros.org once it takes place. You can also follow ROS release related discussions by subscribing to the ros-release@lists.ros.org mailing list.

[2014-05-21 15:53] dirk-thomas opened #162 "Register plugin under a group"
Please register the capabilities plugin under a group rather then the root of the plugin list. Similar as this: https://github.com/ros-visualization/rqt_robot_plugins/blob/772485a364203d9d0f9a8ff57870e89e2bfa42ce/rqt_robot_steering/plugin.xml#L7

I am not sure which group fits the plugin best - may be "Robot Tools"?

[2014-05-21 16:47] adolfo-rt commented on #162
Robot Tools sounds fine. @kphawkins, do you also agree with the proposed group?.

[2014-05-21 20:40] kphawkins commented on #162
Sounds fine to me. Maybe whereever Robot Monitor is stored. A novice user would probably associate controller loading with low level functionality.

[2014-05-21 20:59] dirk-thomas commented on #162
That is the group `robot monitor` is in: https://github.com/ros-visualization/rqt_robot_plugins/blob/772485a364203d9d0f9a8ff57870e89e2bfa42ce/rqt_robot_monitor/plugin.xml#L8

[2014-05-21 21:01] kphawkins commented on #162
Cool, then I'm okay with it.
On May 21, 2014 4:59 PM, "Dirk Thomas" notifications@github.com wrote:

[2014-05-23 12:56] #162 closed, assigned to nobody

[2014-05-23 13:05] davetcoleman commented on #160
I've noticed this annoying issue as well

[2014-06-16 16:03] adolfo-rt opened #164 "Transmission parser: Allow specifying HW interfaces in <actuator> element in Indigo"
The correct place to specify hardware interfaces in the `<transmission>` tag of URDF is inside the `<joint>` element. Because of a design-time mistake, `gazebo_ros_control` was rolled out in Hydro parsing hardware interfaces from the `<actuator>` element. During indigo, `gazebo_ros_control` is transitioning to the correct behavior.

The `transmission_interface` package honors the expected behavior

[2014-06-17 13:45] adolfo-rt commented on #164
I don't have the cycles to harmonize the transmission parser with the deprecation cycle of `gazebo_ros_control`. I took a look at the implementation, and it would require some work to get the desired behavior in place, and to adapt the test suite (disable tests that enforce correct behavior, write tests that exercise the deprecation cycle).

The least resistance path around this issue would be to

[2014-06-17 16:45] adolfo-rt opened #166 "[rqt_controller_manager] Don't assume controller_manager name"
The `rqt_controller_manager` plugin assumes that a controller manager's ROS API lives in a namespace ending in `controller_manager`, for instance

[code]

There are scenarios in which it would make sense to remap `controller_manager` to something else, for instance in robots that have more than one controller manager.

I would consider a controller manager namespace any path containing the six ser

[2014-06-17 23:42] kphawkins commented on #166
@adolfo-rt Not at all. In fact I do it myself here: https://github.com/gt-ros-pkg/universal_robot/blob/hydro-devel-c-api/ur_py_utils/src/ur_py_utils/ur_controller_manager.py

[2014-06-20 11:10] adolfo-rt opened #167 "[controller_manager] Make Python interface more responsive"
This is a separate issue to track a proposal raised in #165, namely https://github.com/ros-controls/ros_control/pull/165#issuecomment-46379726 and its follow-up https://github.com/ros-controls/ros_control/pull/165#issuecomment-46412879.

[2014-07-12 19:18] kphawkins opened #174 "ros-control 2.0?"
Is there any talk of developing a fork of the main development branch where we can make serious infrastructure changes to handle the issues many of us have been running into?  Below are features I'd personally like a new version of ros-control to handle:
- The composite hardware interfaces/multicontrollers problem: #153 #151 #138 #137 #75
- Joint mode native support: #128, #99, [wiki](http://wiki.

[2014-07-14 10:15] adolfo-rt commented on #174
Hey!

Recall that ros_control has not yet reached 1.0, so it's still time to make changes that break existing interfaces. The items you raise in the original post are very relevant ones, which could be addressed with modest/reasonable API changes. My suggestion to move these things forward would be to keep on prototyping stuff in feature branches that are as atomic as possible, and upon review mer

[2014-07-14 10:38] adolfo-rt commented on #174
On the 2.0 part of the title. I've started to wonder how the ROS 2.0 effort might benefit `ros_control`, or writing control code in general. There is actually potential for huge gains, but the landscape is still fuzzy. ROSCON'14 will be fertile ground to discuss these ideas.

In the [ROS on DDS](http://design.ros2.org/articles/ros_on_dds.html) whitepaper, it is mentioned that:

_"...a custom intra

[2014-07-20 20:02] kphawkins commented on #174
I'm very excited about DDS coming to ROS, but I feel like discussing the addition of a perception/control pipeline might be something separate.  Trying to work something like that into ros-control is something I'd be really interested in, but I'm worried that we might be reinventing the wheel.  Both [Rock](http://rock-robotics.org/stable/documentation/about/others.html) and [Orocos RTT](http://oro

[2014-07-21 08:13] adolfo-rt commented on #174
I don't think there is any intention to reinvent the wheel. I am somewhat familiar with Rock, and very familiar with Orocos (we use it a _lot_). There are still usecases I think are not supported well by it, nor by other alternatives that I'm aware of. Minimizing overlap between projects is important, but can rarely be zero. Analyzing these overlaps are a good opportunity to see how things can be

[2014-07-31 04:11] jbohren commented on #174
Check out the comparison of ros_control and Orocos that I just wrote up in another thread here: https://groups.google.com/forum/#!topic/ros-sig-robot-control/qUAnF6enTUo

Given those comments, I'm not sure there's a good way to combine ros_control as it stands with Orocos. It's possible that the overhead in connecting the two frameworks could be greater than the cost of just implementing a given c

[2014-08-02 06:47] ghost opened #177 "[Indigo] No valid hardware interface element found in joint ..."
Hi.

I am using `ros_control` from the debs with ROS Indigo. With the `gazebo_ros_demo`, I get the following messages:

[code]

The version from the debs may be broken or the demo package should be adapted.

[2014-08-13 12:36] skohlbr commented on #75
We´re running into this issue right now (looking into implementing an admittance controller that needs both force/torque sensor interface and a joint interface). The quickest way to resolve this that comes to my mind without requiring changes to ros_control is creating a new custom interface that provides both data, but that of course would not be required if there´s a workable composite solution

[2014-08-13 12:40] skohlbr commented on #130
Also re-iterating here that (even a simple) ros_control example using Orocos RTT would be really useful.

[2014-08-13 12:59] adolfo-rt commented on #75
@skohlbr. Your usecase is similar to a previous thread comment https://github.com/ros-controls/ros_control/issues/75#issuecomment-20413494, which means that you can work around the current state of affairs from within your controller implementation. If you inherit from `ControllerBase`, instead of from `Controller<T>`, you have full access to the whole `RobotHW` data structure.

Since you only hav

[2014-08-13 13:51] skohlbr commented on #75
@adolfo-rt Thanks, that indeed looks like a workable solution. Have to admit I read all comments some time ago and missed the details while skimming over things this time around. We´ll use the proposed scheme and report back in case of issues.

[2014-08-13 14:27] yamokosk commented on #130
At it's most basic level, its nothing more than calling update on the controller manager from an RTT component's update method. ros_control's controller manager then takes care of the rest. Here is some stripped down code (removed error checking and some other custom stuff) from what we played around with. First you have to setup everything.. and RTT component's configure method is great for that.

[2014-08-13 14:43] jbohren commented on #130
@yamokosk's example shows how you can opaquely instantiate a ros_control controller manager inside an orocos component, and then use the Orocos scheduler for execution. This does satisfy @davetcoleman's question, but having to use RTT just to create a Xenomai-friendly loop seems like overkill.

@skohlbr, is this the sort of thing you're asking for?

[2014-08-13 15:03] adolfo-rt commented on #130
Thanks @yamokosk for the example.

Yeah, but it's convenient to get something running fast. We actually do talk to other Orocos components, so we do in fact need a lot of what RTT has to offer.

[2014-08-14 13:38] skohlbr commented on #130
@jbohren This is the most basic variant of what I´ve been asking for. How some details/intricacies of hard real-time control are solved remains a bit unclear however. Some examples:
- How are ROS subscriber/service callbacks treated (required for ControllerManager services)? I can´t see ROS spinning in the posted example, so maybe a ASyncSpinner is missing?
- If the incoming callbacks are running

[2014-08-14 15:09] adolfo-rt commented on #130
I would recommend having a per-component `CallbackQueue`, which you spin in a separate (non-realtime) thread. The `NodeHandle` you pass to the `ControllerManager` would be associated to this `CallbackQueue`. You can do this setup in the `configureHook()`.

By having separate spinners per component, you protect yourself from scenarios in which there are potentially many components, each of which ha

[2014-09-03 20:26] skohlbr commented on #130
I made a small (pretty minimal) example showing how RTT can be used with ros_control based on previous comments above: [rtt_ros_control_example](../../../skohlbr/rtt_ros_control_example)
Everybody is invited to take a look at it and suggest improvements (for example regarding the implementation of the ROS callback queue and the threading approach used).

Few questions I have:
- What is a good, por

[2014-09-03 21:24] jbohren commented on #130
Check out http://docs.ros.org/hydro/api/rtt_rosclock/html/rtt__rosclock_8h.html
- monotonic: `rtt_rosclock::rtt_now()`
- NTP-adjusted: `rtt_rosclock::host_now()`

You can use `rttscript` instead of `deployer` to do this.

[2014-09-03 22:19] skohlbr commented on #130
Thanks for the heads up. I added use of `rtt_rosclock`. From the doc it wasn´t completely clear to me if that was indeed a monotonic source.

Is there some sort of documentation for `rttscript`? I tried just substituting `#!/usr/bin/env deployer-gnulinux` with `#!/usr/bin/env rttscript-gnulinux` in my `.ops` file, but that leads to the TaskContext immediately exiting (and also made me aware of it

[2014-09-20 17:34] ghost commented on #164
I just ran into this. My ackermann_vehicle URDF, which worked with Hydro, does not work with Indigo. I understand that moving the <hardwareInterface> elements from the <actuator> element to the <joint> element will make the URDF work with Indigo and beyond, but how do I maintain compatibility with Hydro? Is the recommended procedure to have identical <hardwareInterface> elements in the <joint> and

[2014-09-26 08:27] adolfo-rt commented on #164
In Gazebo, I think both should work, but I haven't actually tested this on an indigo box. The full-fledged transmission parser was only released for indigo. I don't think it's going to be trivial to make the parser compatible with the deprecated `gazebo_ros_control` behavior from hydro. I don't remember the details, but I looked into it back in June, and realized it was not going to be straight fo

[2014-09-26 13:32] enricovillagrossi opened #182 "missing inline in header file"
Dear all,
looking in folder joint_limit_interface/... I have notice the missing of "inline" keyword for all the functions defined in header file. This can cause linking error, such as "multiple definition of ..." if you have a multiple inclusion of the same header file. Could you fix this bug?
Thank you.
Enrico

[2014-09-26 13:52] adolfo-rt commented on #182
I took a quick look at the package, and I saw that most (all?) methods are defined inline with their declaration, case in which the inline hint is implicit and not needed. The `inline` keyword is required if a function/method is not templated, its declaration and definition are separate, and its definition is in the header.

In case I'm missing something here, could you post the exact compilation

[2014-09-26 14:11] enricovillagrossi commented on #182
I try to better explain: I'm using the function getJointLimits(...) defined in joint_limit_interface/joint_limits_urdf.h the linker error is:

multiple definition of `joint_limits_interface::getJointLimits(boost::shared_ptr<urdf::Joint const>, joint_limits_interface::JointLimits&)'

the inline keyword (as expected) allows to prevent the error of multiple inclusion generated from the linker. The co

[2014-09-26 14:42] adolfo-rt commented on #182
What gcc version are you using?. I still wonder why I had not seen this before. Does the `joint_limits_interface` test suite successfully build and link on your setup without the changes you propose?.

[2014-09-26 15:02] enricovillagrossi commented on #182
I'm using gcc v4.6, if you want to reproduce the error you can create:

your_header.h

#ifndef **YOUR_H**
#define **YOUR_H**

#include <joint_limits_interface/joint_limits_urdf.h>

#endif

and then include your_header.h in two different header file.
Your linker will find the multiple definition of all the functions defined in the joint_limits_urdf.h...
Let me know if you are able to reproduce the

[2014-09-26 15:12] #182 closed, assigned to nobody

[2014-09-26 15:12] adolfo-rt commented on #182
#183 should have fixed it. Let me know if problems persist.

[2014-09-27 13:15] enricovillagrossi commented on #182
Thank you!
Enrico

[2014-10-10 12:01] adolfo-rt opened #187 "Release 0.7.3 into hydro and 0.9.0 into indigo"
I'm planning on making a simultaneous release of `ros_control` into hydro (0.7.2 → 0.7.3) and indigo (0.8.2 → 0.9.0) early next week. Prerelease tests are passing on both branches. If there are any bugfixes that you would like to see in these releases, please let me know.

[2014-10-10 16:44] davetcoleman commented on #187
+1

:-) I just want a mode switching controller...

[2014-10-12 23:31] davetcoleman commented on #131
Closing this issue. I agree it would be nice to rename the MoveIt! component to controller interface.

[2014-10-12 23:31] #131 closed, assigned to nobody

[2014-10-12 23:31] davetcoleman commented on #157
Cleaning up issues.

[2014-10-12 23:33] davetcoleman commented on #32
Now that ros_control has been officially announced at ROS Con and has been available in Hydro and Indigo, can we close this thread?

[2014-10-12 23:34] davetcoleman commented on #86
Close?

[2014-10-13 07:27] adolfo-rt commented on #86
Ah, yes. This was fixed shortly after the isue was opened, in 893302e7b3c087dade2a862f09fe8986559fb2cc.

[2014-10-13 07:27] #86 closed, assigned to nobody

[2014-10-13 07:34] adolfo-rt commented on #131
Just for the record. I looked into this back then, and realized that some ROS message definitions are not the same between the pr2 and ros_control variants of the controller manager. This means that more than a rename is required.

[2014-10-13 07:51] davetcoleman commented on #131
@mikeferguson's moveit_simple_controller_manager does a pretty good job of bridging the gap, though.

[2014-10-13 08:01] adolfo-rt commented on #131
It does. The main limitation here is that it works with a static set of controllers. If the set of running  controllers in your robot changes frequently this can become an issue.

The PR2 version has a mode (which can be disabled) in which you allow it to reason about the available controllers, so it can start/stop them to have the right set running for the execution of a given motion plan. This m

[2014-10-13 08:47] #32 closed, assigned to nobody

[2014-10-13 08:48] adolfo-rt commented on #187
That'll have to wait a bit more. The switching controller won't land in this release.

[2014-10-14 11:03] adolfo-rt commented on #157
This issue, although somewhat old, has in fact not been addressed. I would keep it open as a reminder of pending tasks.

[2014-10-19 10:52] 130s commented on #131
+1. That helps understanding for beginners and intermediates like me.

[2014-10-27 14:38] arennuit opened #189 "Making room for mecanum_drive_controller"
Hi guys,

I am currently developping a mecanum_drive_controller which (as its name states) will take a twist as input and generate desired wheel velocities. From what I have seen this class will be rather close to diff_drive_controller. So I was thinking of factoring the common code out into a drive_controller class (from which diff_drive_controller and mecanum_drive_controller would derive). It d

[2014-10-27 14:38] #189 closed, assigned to nobody

[2014-10-27 14:39] arennuit commented on #189
Sorry, I wrote my issue in the wrong repo, it is now in ros_controllers: https://github.com/ros-controls/ros_controllers

[2014-10-27 22:45] azeey commented on #131
[The Moveit Wiki ](http://moveit.ros.org/wiki/Executing_Trajectories_with_MoveIt) seems to suggest that you'd use moveit_simple_controller_manager for simple use cases while for more complicated cases you'd use ros_control implying (at least to me) that moveit_simple_controller_manager would not be needed when using ros_control.

[2014-10-28 00:09] davetcoleman commented on #131
I actually wrote that, and at the time I don't think I fully understood the various requirements. I actually currently use the moveit_simple_controller_manager with ros_control. To do otherwise requires writing a good bit of custom software, or hacking the old pr2_controller_manager, which is what many people including myself have done in the past.

[2014-11-03 15:16] compiaffe opened #192 "Limit Interface to ensure thrusters don't get overdriven"
Hey ho,

I'm trying to use your great framework for controlling an AUV with 5 controllable DOF (all but roll).

I am a little bit worried about the controller producing a signal with too quick changes in command.
i.e. t=1, command=+100; t=2, command= -100

Is the joint limit interface the right tool to prevent this? If not is there anything available, short of checking the derivative of the comman

[2014-11-03 15:31] adolfo-rt commented on #192
Rapha,

The issue tracker is the place for reporting bugs, proposing features, keeping track of pending tasks and the like; but it's not the place for asking user questions. For that we have the [robot control SIG](https://groups.google.com/forum/?fromgroups#!forum/ros-sig-robot-control). If you post your question there, I'll make sure to reply with an answer.

Thanks in advance.

[2014-11-03 15:31] #192 closed, assigned to nobody

[2014-12-05 11:52] mathias-luedtke opened #193 "PositionJointSaturationHandle and PositionJointSoftLimitsHandle are stateful"
Both position limit handles store the previous command internally.
This leads to problems with mode switching, since the position command might not be updated while velocity or effort joint interfaces are used for control.

I currently see three solutions:
1. implement a reset method, that sets prev_cmd_ to NaN (as in the constructor), this requires some external logic to work properley (e.g. deci

[2014-12-10 08:11] adolfo-rt commented on #193
Your observations are correct.

The current open-loop implementation needs a `reset()` method because it is stateful. Apart from being useful when mode switching, it is also relevant when recovering from an e-stop. I actually implemented this behavior on an in-house specialization of the class because one of our platforms needed it.

The first implementation I did was indeed closed-loop (used actu

[2014-12-12 17:14] mathias-luedtke commented on #193
The closed-loop implementation didn't work for us either, in our case it somehow resulted in over-limiting.
However, it could be achieved by calling reset before calling enforceLimits.

[2014-12-15 17:39] adolfo-rt commented on #193
I'm pretty sure that you are observing over-limiting because your control delay is too large for the closed-loop implementation to work. This was precisely the reason why the open-loop variant was implemented.

I presume that you see over-limitation in the maximum velocity. The way velocity limits are enforced in closed-loop goes like this:
- Approximate the velocity for reaching the next command

[2014-12-16 12:27] mathias-luedtke commented on #193
Thanks for your feedback.
I basically came to the same conclusion..

We are running on a  non-RT 100 Hz loop, but I can't tell the actual control delay.
The motor controller sends the current state at the time it processes the next command.
The internal propagation delay should be reasonable low, but may vary between the different motor controllers we use.

The open-loop limiting worked quite well

[2014-12-23 01:16] mitchellwills opened #195 "controller_manager spawner hangs on shutdown in launch file with gazebo"
Recently I have encountered an issue where the controller_manager spawner does not shutdown cleanly when run from a launch file. I am running ROS Indigo on Trusty.

I have a launch file that launches gazebo with a ros_control plugin as well as the robot_description and a few other things. Everything starts up fine, but when I try to shutdown the launch file by sending roslaunch a SIGINT on the ter

[2015-01-07 09:39] adolfo-rt commented on #195
The `--shutdown-timeout` option was added ina recent PR to address the issue you mention.

A shot in the dark here: We currently use rospy's shutdown hook ([source](https://github.com/ros-controls/ros_control/blob/indigo-devel/controller_manager/scripts/spawner#L172)), which should allow service calls and ros parameter queries. You could try using Python's `signal` module to trigger the shutdown h

[2015-01-08 09:26] Exception4U opened #196 "joint state controller not found error"
when I try to run my husky robot project I get the message

[ERROR] [1420708232.424065268, 0.039000000]: Could not load controller 'joint_state_controller' because controller type 'joint_state_controller/JointStateController' does not exist.
[ERROR] [1420708232.424169592, 0.039000000]: Use 'rosservice call controller_manager/list_controller_types' to get the available types

How to go forward ?

[2015-01-08 09:44] adolfo-rt commented on #196
The issue tracker is not the right place for troubleshooting questions like this one. Please use the [robot control SIG](https://groups.google.com/forum/#!forum/ros-sig-robot-control) for that purpose. If you do so, make sure to provide a more complete summary of your problem.

[2015-01-08 09:44] #196 closed, assigned to nobody

[2015-01-09 00:25] mitchellwills commented on #195
Hmm I just realized that in my testing I was changing the global variable, but the argument parser was replacing it with the default value (30). Using the shutdown-timeout option works as expected.
Thanks

[2015-01-09 00:25] #195 closed, assigned to nobody

[2015-01-11 00:19] davetcoleman commented on #177
@k-okada fixed this https://github.com/ros-simulation/gazebo_ros_demos/pull/4

[2015-01-14 16:26] mikepurvis commented on #195
I'm getting this too.

Specifying `--shutdown-timeout` fixes it for me, but this seems like a hack. I'm wondering if the spawner could detect when it has been run as a node, and automatically select a 1.0 second timeout as the default in that scenario?

This am-I-a-node check could be as simple as checking whether it was passed a `__name` parameter.

[2015-01-14 16:40] adolfo-rt commented on #195
I don't quite understand the am-I-a-node check.

The problem occurs when the controller manager dies before the spawner, thus killing the service servers. One solution would be to periodically check within the spawner script that the controller manager it talks to is up and running. If the controller manager dies, the spawner should not stop and unload controllers when shutting down. One might eve

[2015-01-14 22:31] mikepurvis commented on #195
That solution would also work.

The problem is basically guaranteed to manifest when the spawner is launched as a node because it means that it will get killed at the exact moment that the manager goes down, so it will _never_ get to unload its controller the way it wants to.

[2015-01-17 08:46] normanhendrich commented on #160
Well, Stu Glaser told me about the "--shutdown-timeout" option. For me, it mostly fixes the symptoms, namely Gazebo taking forever to shut down:

 <node name="spawn_oro_gazebo_head_controller"
    pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="oro"
    args="head_controller --shutdown-timeout 1" >
  </node>

[2015-01-19 12:32] fmessmer commented on #160
As I had similar problems (i.e. gazebo taking forever to shutdown), I added the `--shutdown-timeout` option as well. While it does reduce the `wait_for_service` timeouts, it doesn't seem to solve the problem once and for all.
Still the problem occurs that the spawners do not terminate properly to `Ctrl+C`

[code]

When I comment [this line](https://github.com/ros-controls/ros_control/blob/indigo-d

[2015-02-20 10:26] dyouakim commented on #131
Hey,

I know it is an old post, I was just wondering how to start my own controller in python, as I can not find the equivalent for  moveit_controller_manager::MoveItControllerHandle in python and I don't know how to start and which functions I have to implement

[2015-02-20 13:24] adolfo-rt commented on #131
@dyouakim,

This issue is about better bindings between ros_control and MoveIt!. Your question is on the MoveIt! side of things. I know it can get confusing, as both ros_control and MoveIt! have the concept of a 'controller manager'. Anyway, you should consider addressing your question to the [moveit-users](http://moveit.ros.org/support/) mailing list.

[2015-02-20 13:27] dyouakim commented on #131
Thanks a lot, I already posted the question there, hopefully I will get an idea how to start.

[2015-03-03 23:11] trainman419 commented on #177
the documentation still references the old syntax for this: http://gazebosim.org/tutorials/?tut=ros_control

[2015-03-06 09:10] adolfo-rt commented on #177
Thanks for the heads-up. I'll propose a fix.

[2015-03-10 19:28] davetcoleman opened #198 "Boilerplate Template"
I'm thinking of making a boilerplate template for a simple hardware interface, does this already exist somewhere?

[2015-03-10 19:41] fmessmer commented on #198
...don't know...but I'd be interested in using/testing one, too :wink:

[2015-03-10 20:51] davetcoleman commented on #198
Very beta: https://github.com/davetcoleman/ros_control_boilerplate

[2015-03-10 21:37] carlosjoserg commented on #198
That looks good, we are mostly using that way (without the debugging part)
in our hardware, all namespaced.

One question, in line 70 of the hardware interface you have
getParam('joints'). Where do you load that parameter? If you use an
aditional file to define that as usual, I was thinking in how to avoid the
duplication of that spec., either using the transmission spec. (if any) and
it is also i

[2015-03-11 01:31] davetcoleman commented on #198
Okay, its mostly done now. I have documentation, a screenshot, a video, and a full RRBot example to run:
https://github.com/davetcoleman/ros_control_boilerplate

I would _really_ appreciate people who have worked on joint limits, estops, and other fancy features to add them in here too so everyone else can learn from them. I haven't used them myself yet.

[2015-03-11 09:29] carlosjoserg commented on #198
Thanks, I believe it is very useful to have an example like this. I usually ask before creating a PR, so one comment related to my previous comment:

Is there away to avoid listing joint names for the HW interface (real/sim)?

@davetcoleman proposes to do it [here](https://github.com/davetcoleman/ros_control_boilerplate/blob/indgo-devel/config/controllers.yaml#L4), @adolfo-rt mentioned that they q

[2015-03-11 11:24] fmessmer commented on #198
Thanks @davetcoleman!
I'm tempted to use this template as a starting point for implementing a ros_control-enabled version of the [universal_robot](https://github.com/ros-industrial/universal_robot) driver (see [here](https://github.com/ros-industrial/universal_robot/issues/188))

[2015-03-11 11:45] fmessmer commented on #198
@carlosjoserg see my comment [here](https://github.com/ros-simulation/gazebo_ros_pkgs/issues/297#issuecomment-78247940)

[2015-03-11 15:44] davetcoleman commented on #198
You could just hard code them in the code... I don't think one would usually want to just parse all of the joints our of the URDF, because often times there will be multiple hardware interfaces for different parts of the robot. Therefore you need to somewhere define the scope of this particular HWI. But by no means if the rosparam version that I propose in the boilerplate a standard people have to

[2015-03-12 12:38] carlosjoserg commented on #198
That's is my use case right now, that's why I'm concerned. [Here it is](https://github.com/CentroEPiaggio/vito_robot).

I find namespaces a great solution, also for the `robot_description`

I'm not talking about the plugin itself, but the class defining the hardware interfaces, real and sim. IMO, the only differences should be read/write to real robot/simulated robot, and as I said before, additio

[2015-03-17 07:47] vrabaud opened #199 "add the ROSCon talk somewhere on the ROS wiki or github wiki"
This talk was awesome so just a link to it would be welcome :) .pdf and video of course. Thx !

[2015-03-17 08:22] adolfo-rt commented on #199
Done for the ROS wiki.

[2015-03-17 08:22] #199 closed, assigned to nobody

[2015-03-17 20:24] davetcoleman commented on #199
+1

[2015-03-17 20:25] davetcoleman commented on #198
@adolfo-rt i'd really appreciate your feedback on this. also, could you send me a code sample of joint limits and estop functionality?

[2015-03-17 20:55] adolfo-rt commented on #198
Hey all.

I think this is a great idea, and a lot of people will it very useful. I'll try to report back before the end of the week. I already took a quick peek, but I'd like to spend some quiet time with it ;-)

Once again, thanks for the great initiatives @davetcoleman

[2015-03-19 15:58] carlosjoserg commented on #198
Hi again, and sorry if I bother here with a long post, I just want to give you an opinion form an user's point of view.

#### Context

I understand that you all wish to generalize everything, and that's great. But IMO, with HW is not an easy task, as you surely know. Templates are good, of course. I even consider the `gazebo_ros_control` plugin as a nice template, actually. But sometimes, we (user

[2015-03-20 15:26] adolfo-rt commented on #198
I can't make inline comments on the code, because it's not a PR, so I'll be brief. Manually cross-referencing is time-consuming. I'm going to highlight only the most relevant best practices

**generic_hardware_interface.cpp**

**Control period**

In `void GenericHardwareInterface::update(const ros::TimerEvent& e)`: Don't compute the control period from system time differences. Extract from [this](

[2015-04-07 07:24] davetcoleman commented on #198
@adolfo-rt thanks for your feedback, I have incorporated those changes [here](https://github.com/davetcoleman/ros_control_boilerplate/commit/a8512e836a5aeea302c7a0f49497d785ef9f63a1)
- Uses Monotonic time
- Write example (commented out)
- Separated control loop into its own class
- Changes to `waitForShutdown()`

@carlosjoserg I really haven't dealt with Gazebo in almost two years, so I don't tend

[2015-04-07 17:18] rctoris opened #201 "Jade Release"
Just a friendly ping for a potential jade release to help some blocking packages for the upcoming beta.

[2015-04-10 21:53] jlamyi opened #202 "Controller loading hangs"
Hi! My problem is that every time I load my controller, it hangs at "Loading controller: xxxx". Does anyone what is the issue for this? Thanks

[2015-04-14 13:44] rethink-imcmahon commented on #201
+1 for this

[2015-04-15 07:58] adolfo-rt commented on #201
I'll be spending time on the project in the next weeks, and will take a look at what's needed here. Because of the ROS distro transition, I'd like to take the opportunity to review which behavior and API changes would make sense to incorporate. More concretely, I'm thinking at least of #75 (API break), and https://github.com/ros-controls/ros_controllers/issues/48 (behavior change), which is long o

[2015-04-15 16:53] davetcoleman commented on #201
Lets add https://github.com/ros-controls/ros_controllers/pull/142 also

[2015-04-20 13:39] mathias-luedtke commented on #193
We observed the same closed-loop problem with the acceleration limiting in VelocityJointSaturationHandle and  VelocityJointSoftLimitsHandle.
I think we need a more elaborate solution for the open/closed-loop switch.

[2015-04-20 14:29] mathias-luedtke opened #203 "[RFC] ControllerManager state"
Currently the state of the controller manager can be retrieved by services only, which is rather inconvenient.
This leads to problems with the spawner in some cases , e.g. if the controller manager was shutdown (or restarted) before the spawner (#160, #188).

In order to address these problems and to enable the implementation of other controller switching authorities we should implement a status r

[2015-04-22 23:03] scpeters commented on #201
+1, as [ros_control blocked the gazebo_ros_pkgs release for indigo](https://github.com/ros-simulation/gazebo_ros_pkgs/issues/179)

[2015-04-23 07:48] adolfo-rt commented on #201
Its likely that I'll have some cycles next week to look into this.

[2015-04-23 22:12] wjwwood commented on #201
+1, let me know if I can help.

[2015-04-28 07:35] adolfo-rt commented on #201
If `gazebo_ros_control` is moved to the `ros-controls` organization, (https://github.com/ros-simulation/gazebo_ros_pkgs/issues/179), then it would no longer block the release of `desktop-full`, and of Jade's beta.

Usually, the release of `ros_control` and friends has lagged a bit from the core packages. For indigo, we did not make it to the beta, but we did make it to the official release date. I

[2015-05-07 11:01] #133 closed, assigned to adolfo-rt

[2015-05-07 11:02] adolfo-rt commented on #106
rostest+gtest integration has been working fine for quite some time.

[2015-05-07 11:02] #106 closed, assigned to adolfo-rt

[2015-05-07 11:03] adolfo-rt commented on #112
Proposed solution has been merged. Closing.

[2015-05-07 11:03] #112 closed, assigned to adolfo-rt

[2015-05-07 11:09] adolfo-rt commented on #202
Please use the [robot control SIG](https://groups.google.com/forum/?fromgroups#!forum/ros-sig-robot-control) for non-development related questions. Also, please check the list archives, as your question might have already been answered before. Take a look at [this question](https://groups.google.com/forum/#!topic/ros-sig-robot-control/bjBKzFBMXTk).

[2015-05-07 11:09] #202 closed, assigned to nobody

[2015-05-16 01:04] mryellow commented on #198
For some perspective from a noob coming through...

I made it here stuck with the line between `hardware_interface::RobotHW` block, actual hardware and implementation of the control loop.

I saw [diff_drive_controller.cpp](https://github.com/ros-controls/ros_controllers/blob/6e79d634b38d3f5e8f72806cf4972f8a6ef91cbe/diff_drive_controller/src/diff_drive_controller.cpp), reusable it seems, `writeFrom

[2015-05-16 04:13] mryellow commented on #198
Ok so... a "controller" (such as `diff_drive_controller`) can use a type from `hardware_interfaces` (such as `VelocityJointInterface`) which is actually called _"Hardware Resource Interface Layer"_. This is then picked up in a _"Hardware Interface"_ via `registerInterface`, using the `VelocityJointInterface` pointer directly in custom robot specific `read`/`write` methods.

The key bit of the talk

[2015-05-20 21:46] mryellow commented on #198
Looking over the API docs can't help but feel I've still got this wrong, or that there is a hole in the lexicon somewhere. Got the pieces in their correct places, but no clear words to describe them. Could simply be my C++ knowledge is somewhat lacking but as I'm the noob coming through, I'm a good case-study for any confusion here.

http://docs.ros.org/indigo/api/hardware_interface/html/c++/names

[2015-05-26 13:04] adolfo-rt commented on #201
Quick update. My progress on this has been preempted until mid-June because of higher priority tasks. Most (if not all) of the development effort involving API changes has been done in #204, but I still have some TODOs before commiting to the release.

[2015-07-02 02:18] DLu commented on #201
Not to pile on, but +1 for new features of urdf_tutorial.

[2015-08-21 16:57] adolfo-rt opened #208 "[rqt_controller_manager] Jade compatibility, UI revamp"
This issue discusses the `rqt_controller_manager` specifics contained in #204. I'd like to present the most important changes and discus them here before merging #204.

Apart from making the rqt plugin compatible with the ROS API changes that are coming to jade, I took the opportunity to improve certain usability aspects. A detailed description can be found in the commit log of 0f1f50e67e6757799ce

[2015-08-21 17:19] mathias-luedtke commented on #208
Great! I really like the clean, compact interface :)

[2015-08-25 10:15] adolfo-rt commented on #208
@kphawkins, apologies for not waiting enough to get your feedback. Considering the dates, you might be on holidays. My allocated time for performing `ros_control` maintenance is coming to an end, and I'm merging all outstanding PRs.

I'll merge #204, and if there are any outstanding issues, we can address them directly on `jade-devel`.

One thing I'd like to point out is that your original impleme

[2015-08-25 10:24] #208 closed, assigned to nobody

[2015-08-25 10:28] adolfo-rt commented on #75
Allowing multiple hardware interfaces in a single controller have been addressed in #204.

Composing multiple `RobotHW` instances remains the main pending feature for `ros_control` 0.x. Maybe in the next sprint...

[2015-08-29 00:10] bduffany commented on #201
Any updates on this?

[2015-09-04 16:36] adolfo-rt opened #211 "[controller_manager] Fix execution point of doSwitch"
When switching controllers, the robot hardware abstraction might require changing the control mode of certain resources (e.g. joints). This feature was contributed in #200. I recently realized that the current implementation has an important flaw with a straightforward fix.

When a controller switch request is made, a non real-time ROS callback checks that the switch is possible, and among other t

[2015-09-04 16:41] adolfo-rt commented on #201
Hi,
The deadline I've set to myself is ROScon. I'll be offline for three weeks starting on Tuesday Sept 8.

I'd like to fix #211, and optionally consider moving `gazebo_ros_control` to the ros-controls organization, since it's currently living in a limbo state. I'm actively working on that package, so I hope to have something solid for ROScon.

Thanks all for your prolonged patience. The jade rele

[2015-09-04 17:29] mathias-luedtke commented on #211
You are right it might lead to undefined behaviour if this case is not handled properly in RobotHW, which is rather cumbersome.
But mode switching might take longer than 1 update cycle, so I am not sure how to integrate it in `update()` properly.

For CANopen it takes 2 to 10 (rough estimation) cycles to switch the mode depending on the device, which might require to switch the motor power off and

[2015-09-07 08:53] adolfo-rt commented on #211
Currently `switch_controller` is required to be an atomic operation that can take place in a single control cycle. I'm open to discuss alternative strategies, but would prefer to not change current behavior unless no sensible alternative solutions exist. Non-atomic switching opens many questions, such as, what happens while switching completes?, will my robot fall?, is there any control?.

We've a

[2015-09-07 08:57] adolfo-rt commented on #211
@ipa-mdl, please let me know what strategy you propose to go about this. I don't want to break `ros_canopen` without reason, but would also not want to leave this bug open for long. I'll be offline for the next three weeks, so there's no immediate rush.

[2015-09-07 18:16] mathias-luedtke commented on #211
Thanks for waiting :)

The CANopen state machines can switch directly between two modes (there is no real idle mode), but
- the timing is unspecified, the mode switch is confirmed by reading the new mode as current mode
- the switching might be restricted to certain motor states (e.g. voltage off)

Your option 3 is obviously not applicable here.
Option 2 is reasonable, but the user would need to k

[2015-09-08 05:19] AbdealiLoKo opened #212 "Wrong md5sum"
When sending a name like "controller/twist" in `LoadController` using ROS - I get that the md5sum was invalid.

I can launch the controller correctly using `rosrun controller_manager spawn controller/twist`

[code]

[2015-09-08 05:28] AbdealiLoKo commented on #212
Sorry. I had given the wrong msg when creating the service. (Was using C++)

[2015-09-08 05:28] #212 closed, assigned to nobody

[2015-09-23 00:02] scpeters commented on #177
I just opened a pull request to fix the gazebo tutorial:
- https://bitbucket.org/osrf/gazebo_tutorials/pull-requests/276/ros_control_hardware_interface/diff

[2015-09-28 15:43] werner-ne commented on #201
Hi Adolfo, Is your personal deadline until end of this week still valid? thx

[2015-10-01 13:14] adolfo-rt commented on #211
Controller switching guarantees completion in a single control cycle. I'd like this behavior to remain, as it's one of the strong points of the controller manager. The `prepare_switch` alternative breaks this guarantee. Also, it's brittle to rely on the robot being standstill to run `prepareSwitch`, as the mechanism might be moved by external factors and not remain still.

Yes, please.

I don't kn

[2015-10-01 13:15] adolfo-rt commented on #201
Hi. I'm waiting for feedback on #211, which I consider a blocker for the Jade release.

[2015-10-01 13:52] mathias-luedtke commented on #211
Option 1 does not work if the controller starts before the hardware is ready to process the commands.
It might work with properly tuned controllers, but not with forward controllers since the first commands will get lost. This problem gets worse if you want to synchronize all your axes.
Long story short: The start of a controller execution has to be blocked until all motors are ready.

Hijacking i

[2015-10-01 15:21] adolfo-rt commented on #211
Long answer...

I don't know if it works for you, but this is the sequence of events I'm expecting when switching from `ctrl_a`, which runs in `mode_a` to `ctrl_b`, which runs in `mode_b`:

When switching is requested:
- `doSwitch` is called to go from `mode_a` to `mode_b`
- `ctrl_a` stops, and its commands (belonging to `mode_a`) stop changing over time
- `ctrl_b` starts in `mode_b`

During a few

[2015-10-01 16:36] mathias-luedtke commented on #211
Thank you for your detailed response!

For a single joint this might be acceptable, but it is not acceptable for synchronized multi-joint motions.
The CANopen standard does not list any timing bounds for switching a mode.

Yes and no: Commands from `ctrl_a` go nowhere, but I do not forward `ctrl_b`'s commands (to be more specific: the command from the `JointHandle`) until all motors have switched

[2015-10-21 08:49] fulinx commented on #130
Does PR2 only use RT_PREMPT?

Can anyone post en brief example/explaination on how PR2 setup the 1KHz realtime loop?

[2015-10-23 04:05] davetcoleman opened #213 "Issues/Questions on joint_limits_interface"
I reviewed the joint_limits_interface.h file this week and have some thoughts that I could turn into PRs if desired:

I found the variables initialized within the realtime loop [throughout](https://github.com/ros-controls/ros_control/blob/indigo-devel/joint_limits_interface/include/joint_limits_interface/joint_limits_interface.h#L206) the code. Isn't this always bad?

Probably a dumb question, but

[2015-10-28 17:39] mathias-luedtke commented on #131
I have implemented a moveit plugin for accessing ros_control nodes: https://github.com/ros-planning/moveit_plugins/pull/12

[2015-11-03 19:57] UltronDestroyer commented on #201
Can we release this into Jade? It is blocking https://github.com/pr2-gbp/pr2_controllers-release/issues/1

[2015-11-04 17:19] davetcoleman opened #216 "Switch default ros_control branch to jade-devel"
I can do this as a maintainer, just wanted to check with @adolfo-rt and others before doing it.

[2015-11-04 17:33] davetcoleman commented on #201
+1, can we also fix the velocity controller's feed-forward term?
https://github.com/ros-controls/ros_controllers/pull/142

[2015-11-13 10:19] adolfo-rt commented on #213
What is undesired are heap allocations in the real-time path. The line you point to is creating a double instance on the stack. Heap allocations (`new`, `malloc`) are in general non-deterministic, stack allocations are, as it's basically a pointer offset on the (already allocated) stack memory region.

There isn't any notion of min effort, other than [this](https://github.com/ros-controls/ros_cont

[2015-11-13 10:23] adolfo-rt commented on #216
We'll do it once the jade branch is ready for release, which has taken some time. Because we're breaking APIs in places, I don't want to send the message that things are ready before they really are.

[2015-11-13 16:22] adolfo-rt commented on #201
All blocking PRs for releasing the `ros_control` repo have been submitted (#218 and #210). After a pair of eyes gives them a +1, I'll merge and proceed with the pre-release → release sequence.

The idea is to get `ros_control` and `ros_controllers` released first. Then I'll see when I find another slot for `gazebo_ros_control`, which needs to be migrated to Gazebo 5. I don't know if there's a high

[2015-11-13 17:42] scpeters commented on #201
Regarding `gazebo_ros_control` and `gazebo5`, there's two concerns:
- gazebo5 uses c++11, so anything downstream that builds plugins needs to use the `GAZEBO_CXX_FLAGS`, but that should already be fixed ( https://github.com/ros-simulation/gazebo_ros_pkgs/commit/4d46186a2fa20bdc59403bfb34271a672021361b )
- We changed the behavior of `Joint::SetVelocity` and `Joint::SetMaxForce`, so anything using v

[2015-11-18 07:53] davetcoleman commented on #213
Thanks for these useful responses @adolfo-rt

When I get a chance I'll submit a PR for making sure an exception is properly thrown

[2015-11-18 08:37] adolfo-rt commented on #201
Thanks @scpeters. The second point has not yet been addressed, and `gazebo_ros_control` does use a velocity control interface.

[2015-11-20 16:11] adolfo-rt opened #219 "Adding new maintainers"
I would be interested in having other people share the load of merging PRs and making releases. There are currently two persons, @efernandez and @bmagyar that have offered to help with some of these tasks.

Because I'm a member and not an owner of this organization, I cannot grant them member access. So, could one of the owners please take action? (add me as an organization owner and/or add them a

[2015-11-20 20:27] wjwwood commented on #219
@adolfo-rt I promoted you to a team manager, which should allow you to add people to the `ros_control` team on the organization. Let me know if that is sufficient for you to add the user's in question.

[2015-11-20 23:30] adolfo-rt commented on #201
FYI,
https://github.com/ros/rosdistro/pull/9849
https://github.com/ros/rosdistro/pull/9850

Pending feature requests can be merged as patch releases on top of 0.10

[2015-11-21 00:18] adolfo-rt commented on #201
I'll push some release notes to the robot control SIG in the coming days.

[2015-11-22 08:13] davetcoleman commented on #201
Thanks @adolfo-rt !

[2015-11-25 19:00] bmagyar commented on #219
Thanks for the support!

[2015-11-30 22:11] efernandez commented on #219
Thanks!

@adolfo-rt Let us know when you make us members.

[2015-12-01 16:40] adolfo-rt commented on #219
Only organization owners can send invitations for others to join. That part at least I still cannot do.

[2015-12-01 16:49] wjwwood commented on #219
@adolfo-rt can you check to make sure you cannot invite them to the `ros_control` team? This note in the GitHub interface leads me believe that you should be able to since I made you a team maintainer:

<img width="298" alt="screen shot 2015-12-01 at 8 48 13 am" src="https://cloud.githubusercontent.com/assets/100427/11507337/680e2dac-9808-11e5-99e0-f837a5d3ae7f.png">

[2015-12-01 17:49] mathias-luedtke commented on #211
This issue can be closed now, I guess.

[2015-12-01 17:50] mathias-luedtke commented on #201
Now that the jade release is on its way, what about a new indigo release?

[2015-12-02 17:45] adolfo-rt commented on #219
[A team maintainer](https://help.github.com/articles/giving-team-maintainer-permissions-to-an-organization-member/) _should_ be able to add/remove members, but when I try to [add a new member](https://help.github.com/articles/adding-organization-members-to-a-team/), I get the following:

![gh](https://cloud.githubusercontent.com/assets/1128028/11538651/31e2cfc8-9923-11e5-8168-e721ffee5e02.png)

Se

[2015-12-02 18:27] wjwwood commented on #219
Weird. I guess you can add/remove people to the team but not the organization? Either way I just sent them invitations.

[2015-12-02 18:30] efernandez commented on #219
Thanks @adolfo-rt @wjwwood

[2015-12-02 20:32] bmagyar commented on #219
Thanks guys!

[2015-12-02 20:55] bmagyar commented on #201
+1
The `diff_drive_controller` could definitely use one!

I'm willing to do the release procedure once all lights are green.

[2015-12-02 20:56] #219 closed, assigned to nobody

[2015-12-02 22:36] davetcoleman commented on #198
I just want to give an update that I've been using this boilerplate extensively and have added joint limits support and a "simulation" interface for any robot to use. I've just released it as a ROS debian, but I'm happy to take more feedback.

[2015-12-03 08:47] adolfo-rt commented on #219
Much appreciated @wjwwood

[2015-12-04 02:15] davetcoleman commented on #213
PR created: https://github.com/ros-controls/ros_control/pull/221

[2015-12-04 15:56] adolfo-rt commented on #201
Yes, on the agenda. I'm currently getting a failed test in `diff_drive_controller`. Can't release `ros_controllers` like that:

[code]

I don't have time right now to dig into this. So if someone can reproduce that would accelerate the release.

[2015-12-04 19:07] scpeters commented on #201
I'll try to take a look. It may be related to the first point I made above.

[2015-12-06 23:46] efernandez commented on #201
That test from the `diff_drive_controller` is probably not robust enough to time differences when it computes the relative odometry: it works for me (I can't reproduce it) and it works on Travis.

Anyway, I'm going to look into it to make it more robust to time differences. If that's not the reason, I'll increase the tolerance on the test for now, as this feature (jerk limits) shouldn't be blockin

[2015-12-08 01:45] scpeters opened #223 "Resources list order changed in `controller_manager/list_controllers`"
I've been trying to make a tool for printing out the upper and lower limits of joints used in a specific controller. I recently tried calling the `controller_manager/list_controllers` service since that prints a list of controllers and their joints under the resources field. I've run into the problem that this list becomes disordered (alphabetized) somehow.

Consider the hand controllers on robona

[2015-12-08 02:01] scpeters commented on #223
I just realized that `controller_interface` [uses a `std::set` for controller resources](https://github.com/ros-controls/ros_control/blob/indigo-devel/controller_interface/include/controller_interface/controller_base.h#L144). So this is fundamental to the API, not a small thing to fix.

[2015-12-08 04:39] davetcoleman commented on #223
Won't most ros_control implementations simply read the joint limits from the robot's URDF or from the parameter server? Could your tool just read the joint limits from their source? Currently their is no enforced common way to do joint limits - you choose which type of saturation or soft joint limit to use.

[2015-12-08 08:53] scpeters commented on #223
I'm reading the joint limits from the URDF, but I need an ordered list of the joint names to create the vector of joint limits (motivated by trying to modify the [r2_hand.py script](https://github.com/osrf/rosbook/blob/master/chessbot/r2_hand.py#L11-L15) from the ROS book but having trouble because the joint names and order have changed). I thought the `list_controllers` service would be a nice wa

[2015-12-10 15:12] davetcoleman commented on #216
Jade has been released, right? I'll switch the branches...

[2015-12-14 20:51] cyborg-x1 opened #227 "I am trying to create my own controller but it won't load with error: "Could not create object of class type""
It is currently very similar to the imu controller, I also created my own interface. Everything compiles the library is there but I get this error message when I try to load it:

Could not load class h4r_ev3_sensor_control/Ev3UltraSonicRangeController: MultiLibraryClassLoader: Could not create object of class type h4r_ev3_sensor_control::Ev3UltraSonicRangeController as no factory exists for it. Ma

[2015-12-14 21:03] cyborg-x1 commented on #227
Awww...

Searching the whole day for this, asking a question here ... seeing it some minutes after .. :(

Forgot this one in the controllers source:

PLUGINLIB_EXPORT_CLASS(h4r_ev3_sensor_control::Ev3UltraSonicRangeController, controller_interface::ControllerBase)

[2015-12-14 21:03] #227 closed, assigned to nobody

[2015-12-14 21:22] bmagyar commented on #227
Doing
`rosservice call /controller_manager/list_controller_types`
shows all the visible controllers for your controller manager (for it's pluginlib loader to be more specific). It usually reveals declaration & export xml issues early on.

[2015-12-15 07:35] cyborg-x1 commented on #227
Well it was in there despite missing this line in the source, but that makes completely sense, the plugin file (that is probably used for this lookup) was in there and correct. I tried around and with the plugin file being wrong the application loading controllers would not even start, directly saying that the macro is wrong.Well, I just overread the PLUGINLIB_EXPORT_CLASS macro when reading sourc

[2015-12-30 14:10] lgeo3 commented on #160
up ?

removing the sleep line in controller_manager/spawner (as highlight by @ipa-fxm) help me to get a faster/cleaner ctrl-c stop. What do you think ?

[2016-01-06 22:31] #216 closed, assigned to nobody

[2016-02-12 19:59] adolfo-rt commented on #201
Indigo:

https://github.com/ros/rosdistro/pull/10491
https://github.com/ros/rosdistro/pull/10492

I still see that diff drive test flakiness in my box, but pulled the trigger anyway.

[2016-02-12 23:26] efernandez commented on #201
@adolfo-rt I have some WIP branch for them, but I can relax that test that sometimes fails meanwhile.

In my branch (I repeat still WIP) I have an exhaustive set of unit tests that all pass, but curiously, that rostest doesn't, so I think it's related with some timing issue between runs.

[2016-02-15 09:04] adolfo-rt commented on #201
@efernandez Let's bring in those changes in the next patch release. This one is already out.
https://github.com/ros/rosdistro/pull/10497
https://github.com/ros/rosdistro/pull/10498

[2016-02-15 09:04] #201 closed, assigned to nobody

[2016-02-16 19:56] #211 closed, assigned to nobody

[2016-03-16 18:35] mllofriu opened #232 "Controller Manager reload-libraries"
I am running an node with an instance of the RobotHW class that creates a controller manager instance, as described in https://github.com/ros-controls/ros_control/wiki/hardware_interface.

After the node is executing, I perform the sequence:
- rosrun controller_manager controller_manager load <somecontroller>
- change and recompile controller
- rosrun controller_manager controller_manager reload-l

[2016-03-28 02:10] cottsay opened #233 "Use a unique NaN to indicate "inert" state"
I'd like to propose a convention for indicating that a particular actuator or joint go into an "inert" state.

We have found this would be useful in both of our use cases involving `ros_control`. On our servo, we need a way to "relax" the servo. Also on our motor controller, which actuates the main driving wheels, sending a velocity of "0" actually engages braking when at speed. We'd like to have

[2016-03-30 14:05] bmagyar commented on #233
Hi Scott,

The `VelocityJointInterface` receives target velocities which is then made available to your hardware abstraction level for further processing before passing to other layers (if any) and eventually to motor drivers.

I don't think that at the level of this framework one should not be concerned about what 0 means for your controller. A target velocity of 0 means to stop.

Producing a con

[2016-04-17 20:54] bmagyar commented on #198
@davetcoleman I think your boilerplates were pretty well received. Should we move them over to the `ros-controls` org and make the Kinetic releases from here? That would give us some of the long-awaited tutorials/documentation that we are missing. (I even got feedback from NASA that they missed tutorials a lot.)

[2016-04-17 20:56] bmagyar opened #234 "Kinetic release"
Calling all stations!

I'd like to push this through as fast as it's possible so we are not blocking the release of `ors-kinetic-desktop-full` (we do through Gazebo).

Are there any PR-s that you'd wish to see merged & volunteer to put effort into it?
I can do the release rain-dance but I need to make sure that we are on the same page.

As there have already been changes in messages on `control_ms

[2016-04-18 01:03] efernandez commented on #234
I can help looking into `realtime_tools`. There are only two things that need attention there:
1. One PR (https://github.com/ros-controls/realtime_tools/pull/8) related with running the tests on Travis, which are currently broken. **This should go into kinetic**, but we have to fix the PR branch before merging it.
2. One issue (https://github.com/ros-controls/realtime_tools/issues/14) related with

[2016-04-18 11:21] bmagyar commented on #234
:+1: @efernandez could you please have a look at the travis stuff for all other `ros-controls` repos? I'm not very fluent there.

[2016-04-22 06:17] jackieokay commented on #234
How is progress on the Kinetic release?

[2016-04-22 09:10] bmagyar commented on #234
Waiting for some API changes on `control_toolbox`. Once done there, that +
`ros_control` are ready to roll out.
On 22 Apr 2016 07:17, "Jackie Kay" notifications@github.com wrote:

[2016-04-23 01:26] davetcoleman commented on #198
Yea, I could do a PR to ros_control. I think keeping its current name would be most appropriate, calling it just "boilerplate" would be too generic for the ros package namespace.

One thing that is bothering me, though, is that the scope has maybe outgrown its name. I have a number of tools in it that should probably else where - recording and saving trajectories to/from file, keyboard teleop, etc

[2016-05-06 10:50] toliver commented on #234
I would like these 2 PRs to be merged into Kinetic. I'm not sure how far they are to be considered mergeable, but I can definitely work on fixing any issues.

Both of them are focused on allowing to combine several RobotHW into a single one, and therefore allow a single controller to access resources from more than one RobotHW.
- #220
- #231 This one builds upon the previous one.

[2016-05-06 15:07] bmagyar commented on #234
I have released to Kinetic a few days back.
Merging those 2 PRs have been on the table for a while now... could you please close those 2 PR-s and open a new one against kinetic-devel? I think a single PR containing those 2 commits is ok, easier to discuss.

[2016-05-06 15:13] bmagyar commented on #234
...since the initial kinetic release is done, I'm closing this issue.

[2016-05-06 15:13] #234 closed, assigned to nobody

[2016-05-06 17:39] toliver commented on #234
I will do that.

We are also interested in https://github.com/ros-controls/ros_controllers/pull/185.

It was also left unmerged. Do you think it can make its way into Kinetic?

[2016-05-06 18:10] bmagyar commented on #234
Absolutely. I only need you to implement the changes Adolfo asked for there and help me out by providing as many tests as you can think of ;)
The same rule applies to it though, please close that PR and open a new one after rebasing against kinetic-devel.

[2016-05-06 18:28] toliver commented on #234
Thanks @bmagyar . I think those changes were already implemented, but we can resume that discussion once we open the new PR.

[2016-05-11 09:37] bmagyar opened #236 "Pull request template to all repos of ros-controls"
Hello folks,

I gave a shot to pull request templates this morning and I think it would help to have them on the ros-controls repos.
Github blog entry: https://github.com/blog/2111-issue-and-pull-request-templates

My test repo:
https://github.com/bmagyar/pr-template-test

This is what I drafted up for the test repo, we can start from this:

[code]

Please provide your feedback @ros-controls/ros_c

[2016-05-13 00:00] ShawnSchaerer commented on #198
@davetcoleman I have used your boilerplate exclusively for my ROS Control implementation and will upgrade to your latest version soon.  I'd like to offer my time to help you in testing etc.

I will go through your latest and give you my opinion on the features and feature creep

[2016-05-14 20:06] bmagyar commented on #198
Awesome! Thanks Shawn for popping in, it is always great to have a fresh set of eyes on the problem.

@davetcoleman, I'm with you on the oddity of being ROS-agnostic, but it seems to work out pretty well. I have just recently saw some controllers being totally using LCM and the rest of MIT's DRC software stack running on a NASA Valkyrie (which is a ros_control-based robot). Those controllers hardl

[2016-05-21 15:43] davetcoleman commented on #236
I like the idea of a template, but the guidelines you are proposing we add to ros_control seems pretty generic and obvious. Perhaps point to how to run said tests? Are there any other details that might help new users in testing ros_control?

[2016-05-21 16:38] davetcoleman commented on #198
Pass through just means that when you `write()` to a hardware interface, the same value is immediately returned in the `read()` call - no actual hardware is controlled but in Rviz, etc it appears as if the robot is moving.

Seems like a good idea.

[2016-05-22 10:42] bmagyar commented on #236
I agree with them being generic and kinda obvious, but we are still receiving many that don't even meet these requirements. Adding help to run the tests is a good idea!

What do you think @efernandez ?

[2016-05-22 10:48] bmagyar commented on #198
Thanks for the clarification.

So...trajectory_toolbox and ros_control_boilerplate? Can you do the separation or do you need assistance?

[2016-05-24 10:18] bmagyar commented on #187
Releasing was successful, and happened quite a long time ago :)

Closing...

[2016-05-24 10:18] #187 closed, assigned to adolfo-rt

[2016-05-24 10:55] bmagyar opened #237 "CombinedRobotHW documentation"
With the advent of this new feature our lack of documentation & examples increases even more in contrast to the features we have.

I would like to ask @toliver is you could provide some very minimal but working examples (can be taken from the tests for instance) with a little bit of discussion, perhaps a figure showing how the structure of a RobotHW and example configurations to set up. The inform

[2016-05-25 21:18] efernandez commented on #236
I think it'd help to mention how to run specific tests, since running all of them takes like 1 hour for all. Other than that, it looks fine to me.

[2016-06-13 09:44] barbalberto opened #242 "Question Controller Manager: How to know which controller is running on which joint?"
Hi guys,

I watched the Adolfo's talk at ROSCon (https://vimeo.com/107507546) and I found it really helpful.
I managed to implement my hw_interface and move my robot using rqt by following this tutorial https://github.com/ros-controls/ros_control/wiki/hardware_interface

Now, the custom message I use to control my robot will slightly change depending on the controller used to move the joint (posit

[2016-06-13 15:46] bmagyar commented on #242
Hi Alberto,
That loop is flawless. What I would suggest is to smarten up your
RobotHardware and add some mechanism to write() that handles your needs.
One naive way would be to check if the command has changed and only forward
updates to your hardware.

How do you send messages to your hardware? This is where you could encode
the type of the command you are sending. This is - again - all up to you

[2016-06-15 07:41] barbalberto commented on #242
Yes, that's exactly the point of the question

I use a ROS message and that's what I'm doing.

I'll do a different example to better clarify my doubt.
Let's I have the following yaml config file for the controller_manager

[code]

My managers starts with `controller_a` loaded and running. After a while, `controller_a` is stopped and `controller_b` is started and operating on the same 2 joints. Sup

[2016-06-15 08:21] mathias-luedtke commented on #242
There wasn't any option in the past (except for hijacking `checkForConflict`), so we have added  `prepareSwitch` and `doSwitch`.

Exactly.

`preprareSwitch` runs in non-RT part of the switch sevice handler. `doSwitch` runs in the RT part of `update`.
If you can swtch modes fast enough, just use `doSwitch`.
If the switch can fail for some hardware-specific reason you should check the state within `

[2016-06-16 18:55] slaniel opened #243 "RRBoT tutorial controller spawner problem"
Hi,

I try to control a robot in gazebo with ROS topics.

To learn, I tried the ros_control package for the RRBoT example.

I can launch the :
`$ roslaunch rrbot_gazebo rrbot_world.launch`
Gazebo opens perfectly with the robot and the environment.

My problem comes afterwards when I execute :
`$ roslaunch rrbot_control rrbot_control.launch`

Everytime my console displays :

[code]

What am I doing

[2016-06-17 07:24] miguelprada commented on #243
Hi @slaniel,

First of all, you should specify where those `rrbot_gazebo` and `rrbot_control` packages you're using come from. I'm going to go ahead and assume your talking about the packages in [`gazebo_ros_demos`](https://github.com/ros-simulation/gazebo_ros_demos).

Second, I've just tested the same commands on ROS Indigo with a clean clone of `gazebo_ros_demos` `master` branch and everything w

[2016-06-22 09:15] barbalberto commented on #242
Thanks guys, I managed to do it using the  `preprareSwitch` function and it works.
Maybe I'll post the code here for feedbacks later on, but I think I can close the issue now.

Thanks a lot

[2016-06-22 09:15] #242 closed, assigned to nobody

[2016-06-22 20:58] bmagyar commented on #242
Great! Please if you publish the code let us know so we can reference it.
On 22 Jun 2016 10:15, "Alberto Cardellino" notifications@github.com wrote:

[2016-07-07 23:24] mkoval commented on #232
I am seeing the same behavior. Did you figure out an alternative way of debugging a controller without restarting the controller manager after every change?

[2016-07-08 00:44] mllofriu commented on #232
Nope. Restart the controller manager everytime so far.

[2016-07-08 09:16] asimay commented on #232
what's your load launch file?

[2016-07-11 15:23] toliver commented on #75
Composing multiple `RobotHW` instances has been addressed in #235. I think all the use cases mentioned in this issue are now possible in kinetic-devel.

[2016-07-11 15:50] bmagyar commented on #75
Thanks for the note.
@jbohren what do you think?

[2016-07-12 04:26] mkoval commented on #232
I'm not sure what you mean. I have been doing development by loading my hardware interface (a C++ program that instantiates a controller manager) in one terminal window. Then, in a second terminal window, I use `spawner` to load the controller that I am testing. It's currently simple enough that no launchfile is involved.

Bummer. I was hoping I was doing something wrong. 😦

[2016-07-13 09:50] bmagyar commented on #232
Hi guys,

Not sure what to say about this. This issue all boils down to [this line](https://github.com/ros-controls/ros_control/blob/kinetic-devel/controller_manager/include/controller_manager/controller_loader.h#L71), while the intention with the reload-libraries functionality was exactly to allow on-line debugging without having the need to restart things AFAIK.

`lsof` may give clues as to whic

[2016-07-14 19:04] mllofriu commented on #232
It's been a while since I had this problem. I seem to recall that I think that that reset did not took care of it. I think (because its hard to follow code through these three complex projects) that the underlying class_loader keeps track of loaded libraries on the background: https://github.com/ros/class_loader/blob/indigo-devel/src/multi_library_class_loader.cpp. Maybe calling shutdownAllClassLo

[2016-07-21 16:00] adnanmunawar commented on #243
If you are using Indigo and a version of Gazebo that doesn't come by default with it, this issue arises. A quick fix is to remove the ros-indigo-gazebo7-ros-pgs and install them from source.

[2016-07-23 10:18] sytelus commented on #201
Looks like this issue is closed but there is still no ros-jade-gazebo-ros-control package :(.

`sudo apt-get install ros-jade-gazebo-ros-control`
`E: Unable to locate package ros-jade-gazebo-ros-control`

Any idea how to get ros-control package on Jade? This seems to be the only thing stopping to make gazebo demo work on Jade.

[2016-07-25 14:27] bmagyar commented on #201
Are you sure everything is ok with your installation?
https://github.com/ros/rosdistro/blob/master/jade/distribution.yaml#L1104
I checked packages.ros.org but couldn't find it there... it's weird.
Could you bring up this question here please? http://discourse.ros.org/c/release
I don't have an installation to test this on at the moment.

[2016-07-25 17:38] wjwwood commented on #201
Jade hasn't been synced with Public since `gazebo_ros_pkgs` was released with `gazebo_ros_control` included: http://repositories.ros.org/status_page/ros_jade_default.html?q=gazebo_ros_control

[2016-07-25 18:16] bjornite commented on #201
Does that mean this issue will go away soon?

[2016-07-25 18:17] wjwwood commented on #201
It means that the package will be available next time we sync Jade to the public repositories. I don't know when that will be, but probably within the next month.

You could use the shadow fixed repository and get the package now if you wanted: http://wiki.ros.org/ShadowRepository

[2016-07-27 12:41] carlosjoserg opened #244 "[question] On the FourBarLinkageTransmission type"
Hi all,

Has anyone ever used this transmission type?

I've been reading for a couple of days, but still can't find a match between the phrase ["This transmission relates two actuators and two joints through a mechanism in which the state of the first joint only depends on the first actuator, while the second joint depends on both actuators......"](https://github.com/ros-controls/ros_control/blob/

[2016-08-01 17:29] dario-pedro opened #245 "[Multiple controllers] Using ros_control in robot IMAU"
Hi everyone,

My robot (IMAU) has 3 controllers:

[code]

Each controller contains the joints information, something like:

[code]

I've managed to load the controllers correctly and everything looks fine on rqt. But when I Start the controllers on rqt, only the last one that was loaded ( imau_left_gripper_controller) seems to be working. By working I mean that the joint_command change when I move

[2016-08-01 18:00] bmagyar commented on #245
Could you please specify what you mean by "seems to be working"?

If it's rqt, screenshots could work but maybe more direct is if you'd call
Rosservice call /controller_manager/list_controllers

When you think it should all be up and running?
What is your full startup sequence?

[2016-08-01 19:30] facmarques commented on #245
Hi,

I'm working with Dário and maybe I can explain further.
Ẃe wanted to have 3 (objective is to be generic as possible ) controllers launched from one node.
So we based ourselves on the Baxter Code by @davetcoleman, as baxter has also two arms.

Our sequence is as follows:

Launch robot description;
Controllers spawner;
Node;

The only controller that responds and generates commands it the last

[2016-08-02 08:05] miguelprada commented on #245
Since all controllers seem to be running, could you check (e.g. by using `rostopic echo`) that the rqt plugin is really publishing the commands on every `/controller_manager/CONTROLLER_NAME/command` topic (should only publish for the currently selected controller in the widget, I think)?

Also, since you seem to be using the position interface-based joint trajectory controller, no PIDs are used an

[2016-08-02 08:44] facmarques commented on #245
Hi,

Yes, we've checked that already (you are correct it only publishes one at a time). But only the  last controller that gets loaded responds.
We were testing several hypotheses for controlling, but thanks we will check the config files to remove te gains.

[2016-08-02 10:14] miguelprada commented on #245
There should be no reason the controller manager only updates the last controller loaded, just tested this myself with two joint trajectory controllers acting on different joints of the same robot and both respond just fine.

Is the source code for your `RobotHW` implementation available somewhere? It is possible that the issue is lying there somewhere.

[2016-08-02 10:17] bmagyar commented on #245
The rqt_joint_trajectory plugin only publishes to the currently active controller, and only on change I believe. If you don't touch it, no commands will be send.

I'd recommend looking at the controller state outputs. Just simply
`rostopic echo /imau_elevator_controller/state`
The error field here may give you hints as to what reference the controller is trying to track.

@miguelprada , this shoul

[2016-08-02 10:32] bmagyar commented on #244
Hi Carlos,

Let me state first that I have no proper education in mechanics and can only provide an explanation based on intuition and experience.
This transmission was used in the REEM robot, specifically to relate the tilting torso joint to the shoulder tilt axes. To lower the center of mass, the actuators driving to the first shoulder joint (tilt axis) were placed on the lower part of the torso

[2016-08-02 10:43] dario-pedro commented on #245
Hello,

@bmagyar  I've done`rostopic echo /imau_elevator_controller/state` , and when I move the sliders on rqt plugin nothing changes. The result is showed in the screenshot below:
![rostopic echo /imau_elevator_controller/state result](https://cloud.githubusercontent.com/assets/20140584/17325837/bcb2cc2e-58a5-11e6-9bd0-3fcda3d81b29.png)

@miguelprada , the `RobotHW` code can be found [here](http

[2016-08-02 16:43] carlosjoserg commented on #244
Thanks for the reply @bmagyar ! I tell you, you draw better than me ;)

That's the remote actuation example, where, yes, the shoulder actuator must compensate for the torso actuator motion, if the shoulder relative position w.r.t. ground or torso is to be kept. But moving the shoulder motor does not move the torso or make the torso motor to compensate for nothing, right?

Just found something call

[2016-08-04 10:03] facmarques opened #246 "[ROS_CONTROL position_controllers] Tolerances and velocity"
Hi everyone,

We are currently using position_controllers/JointTrajectoryController.
And we are trying to understand what is the effect of the tolerances and constraints.
We didn't find any documentation that totally explains it.

![plot1](https://cloud.githubusercontent.com/assets/20779718/17396979/cfab0e8e-5a2d-11e6-97be-48b3cdb37dd0.png)

Our current behaviour is depicted above.
But we wanted t

[2016-08-04 16:39] bmagyar commented on #246
Hi,
I'll try to group the answers.
1. If I remember well, constraints and tolerances are not used for enforcing anything, but they serve as criterion used for determining whether the executed action was a success or not (reflected in the action result). Read [this](http://wiki.ros.org/joint_trajectory_controller#Parameters)  for more.
2. The way the `joint_trajectory_controller` works is that it g

[2016-08-05 09:37] bmagyar commented on #245
Ok, this gives a starting point.
When you send a new command via the rqt gui, a new goal should appear on the appropriate topic.
Since the joint traj controller directly subscribes to this topic, the new goal values should appear in the values of the `reflected` vector.
Are you sure, your controller is receiving the commands? All I can think of now is that the topic has been remapped.

[2016-08-05 09:40] bmagyar commented on #244
I'm afraid I cannot make any judgement on this one.
@adolfo-rt , could you add your thoughts to this?

If renaming is strongly supported, we should do it ASAP in Kinetic.

[2016-08-05 09:41] facmarques commented on #246
**1 - If I remember well, constraints and tolerances are not used for enforcing anything, but they serve as criterion used for determining whether the executed action was a success or not (reflected in the action result). Read this for more.**

Ok, we will check it again.

**2 - The way the joint_trajectory_controller works is that it generates a trajectory for each joint that is smooth in positio

[2016-08-05 12:13] dario-pedro commented on #245
Hello,
We've tried to sort out the problem using rqt_graph, but we don't understand exactly what's happening.

The prints below represent the result when you use the sliders of the different controllers.

![eleveator_controller on](https://cloud.githubusercontent.com/assets/20140584/17434359/e346307a-5b01-11e6-8a54-871f801de2dd.png)
![right_controller on](https://cloud.githubusercontent.com/assets

[2016-08-08 08:55] bmagyar commented on #245
Ok, so it seems there's no subscription to those topics. Just to double-check this, please untick "group actions" and "hide leaf topics" "hide dead sinks".

Please also run "rosservice call /controller_manager/list_controllers" and paste the output here.

[2016-08-09 09:19] dario-pedro commented on #245
Hi again,

The only topic we subscribed is the actuator/motor_nanotec/joint_states on `arm_interface_sub = n.subscribe("/", 1000,&Arm_interface::handleAMotorResponse, this);` to get the robot current states on the `Arm_interface` . The topics we're publish are /actuator/motor_nanotech/"+controller_name+"/joint_command , 1 per controller , done in `joints_pub = nh.advertise<sensor_msgs::JointState>

[2016-08-09 09:49] bmagyar commented on #245
Ok, for the sake of completeness, please switch on the top to "Nodes/Topics (all)", your first screenshots were not showing the subscriptions because only active communication was displayed.

[2016-08-09 09:56] dario-pedro commented on #245
Ok sorry. Here :

![screenshot from 2016-08-09 10 56 31](https://cloud.githubusercontent.com/assets/20140584/17512484/f23f6558-5e1f-11e6-8e3a-cf48938a34c5.png)

[2016-08-09 10:12] bmagyar commented on #245
Ok this looks clean and subscriptions are ok so you commands actually make it to the controllers but the commands seem to be ignored. From this point on it's down to debugging your RobotHW.

Give a shot to `rqt_console` and change log levels there to see if you can get some meaningful info out there. You can even compile `joint_trajectory_controller` from source and print stuff there to see where

[2016-08-17 21:31] wjwwood opened #248 "[rqt_controller_manager] needs update to Qt5 with Kinetic"
When running this rqt plugin in Kinetic I get:

[code]

I think it needs a similar update as https://github.com/ros-controls/ros_controllers/pull/231

[2016-08-18 10:35] bmagyar commented on #248
On it.

[2016-08-18 15:29] bmagyar commented on #248
https://github.com/ros/rosdistro/pull/12407

Thanks for reporting!

[2016-08-18 15:29] #248 closed, assigned to nobody

[2016-08-24 19:13] wjwwood commented on #248
Thanks for fixing it :smile:

[2016-08-24 19:49] bmagyar commented on #248
My pleasure :+1:

On 24 Aug 2016 20:13, "William Woodall" notifications@github.com wrote:

[2016-09-03 09:17] nxdefiant opened #250 "Use new urdf SharedPtr typedefs"
Urdf has moved to SharedPtr typedefs.

`boost::shared_ptr<const urdf::Joint> urdf_joint`
now becomes
`urdf::JointConstSharedPtr urdf_joint`

in getJointLimits() and getSoftJointLimits() from joint_limits_interface/joint_limits_urdf.h.

[2016-09-03 13:54] bmagyar commented on #250
I was wondering how this didn't come up for you before than
`ros_controllers`.

I'll refactor 'em

On 3 Sep 2016 10:17, "nxdefiant" notifications@github.com wrote:

Urdf has moved to SharedPtr typedefs.

boost::shared_ptr<const urdf::Joint> urdf_joint
now becomes
urdf::JointConstSharedPtr urdf_joint

in getJointLimits() and getSoftJointLimits() from
joint_limits_interface/joint_limits_urdf.h.

—
Y

[2016-09-03 18:20] nxdefiant commented on #250
Probably because those functions are in a header. The compiler ignored all previous inclusion of the headers and only nagged when gazebo called them.

[2016-09-03 21:05] bmagyar commented on #250
Could you please give a shot to #251 and make a :+1: there if it works? I don't want to rely only on my testing :)

[2016-09-03 21:40] nxdefiant commented on #250
:+1:

[2016-09-03 21:40] #250 closed, assigned to nobody

[2016-09-09 00:05] davetcoleman commented on #198
I've had this lingering on my todo list but I do not think I will get to it anytime soon. Feel free to work on it yourself, thanks!

[2016-10-27 00:39] paulbovbel commented on #237
Just going to leave this here, since it's probably the best available documentation at the moment :)

https://vimeo.com/187696094

[2016-10-27 15:38] bmagyar commented on #237
Thanks Paul, I'll update the wiki with this and the older talk of Adolfo
too!

On 27 October 2016 at 01:39, Paul Bovbel notifications@github.com wrote:

[2016-11-06 22:04] corot commented on #160
Facing this problem after migrating to Kinetic. :see_no_evil:
I can confirm that removing the sleep works

[2016-12-01 21:37] sauronalexander opened #256 "Controller Spawn Issue"
Hello there. I am using ROS Indigo with Gazebo2. I am currently facing a problem that the controller_manager has correctly loaded the controllers but cannot start the controllers. When trying to start the controllers manually, the system gives me "rospy.service.ServiceException: transport error completing service call: unable to receive data from sender, check sender's logs for details". Can anyon

[2016-12-01 22:22] bmagyar commented on #256
This seems like a malformed service call to me. Try the quick way with
[code]

On 1 Dec 2016 21:37, "sauronalexander" <notifications@github.com> wrote:

[2016-12-01 23:24] sauronalexander commented on #256
I haven't used rqt before. Does the package rqt_controller_manager has an executable? The system seems keeping telling me that there is no executable for rqt_controller_manager.

[2016-12-02 09:01] bmagyar commented on #256
That's right, it seems we forgot to add the install rule for that in Indigo, I tested last night on Kinetic and there it's being properly installed.

Grab it from here, place in package, chmod it properly, you know the drill ;)
https://github.com/ros-controls/ros_control/blob/indigo-devel/rqt_controller_manager/scripts/rqt_controller_manager

I'll add a PR to add this install rule

[2016-12-02 23:33] sauronalexander commented on #256
Thanks. Do I need to install some python packages to run this script? It seems that I am missing QtWidgets here.

[2016-12-03 00:39] sauronalexander commented on #256
It seemed the rqt_controller_manager problem is resolved through hacking.

For my case, when compiling source files in workspace, I changed the python_qt_binding.QtWidgets to python_qt_binding.QtGui in src/controller_manager.py.

Or by installing from Debian, I worked this around by changing the same syntax in rqt_py_common/plugin_container_widget.py.

I do not know the reason behind this since I

[2016-12-03 00:51] sauronalexander commented on #256
The result when using the rqt_controller_manager is unfortunately, segmentation fault. That's the only output.

[2016-12-03 13:38] bmagyar commented on #256
Hacking stuff especially in installed packages will only lead to a lot of pain in the future, don't do it. Probably something is missing from your installation.
Aren't you in PAL with someone around you could just grab and get this sorted quick?

If not, can you just post the command that produced the starting post's error message?

[2016-12-06 19:43] tfoote opened #258 "Add urdf compatibility header for joint_limits_interface"
To support urdfdom across different versions there's a new urdf compatibility header added to urdf.

It was added here: https://github.com/ros/robot_model/commit/f5a3b8048c9fb4767ebd20b0cd80531c81522017

I believe that including that header will solve the symbol problem. Note that you'll need to add a dependency on urdf for this additional include.

I believe that this is the root problem of this

[2016-12-07 04:55] sauronalexander commented on #256
Hello, I am not at PAL and I am working on my senior thesis at US. So I think the problem is solved simply by reinstalling the ROS. I have been spending the last two days re-configuring everything and it seems it worked with the new system. Strange as it is, I still do not know the reason behind the issue. Thank you for your help anyway.

[2016-12-07 04:55] #256 closed, assigned to nobody

[2016-12-07 14:17] #258 closed, assigned to nobody

[2016-12-13 09:50] canalteks opened #260 "TransmissionInterfaceLoader cannot find a handle of JointStateInterface"
Dear developers,

I found that transmission_interface::TransmissionInterfaceLoader will throw an exception in loading new hardware_interface/Position,Velocity,EffortJointInterfaces from URDF::transmission tags.

This problem only occurs when the users used their own RobotHw with JointStateInterface.

It's because that
- [transmission_interface::VelocityJointInterfaceProvider](https://github.com/ro

[2017-02-08 06:14] pkuttam opened #262 "controller_info catkin_make problem with ur_modern_driver"
controller_info.h in hardware_interface in kinetic-devel doesn't consist variable std::string hardware_interface;. It causes error in catkin_build ur_modern_driver. I think, we have to modify the /opt/ros/include/hardware_interface/controller_info.h and include the line
 std::string hardware_interface;

[2017-02-08 07:06] bmagyar commented on #262
Hi,

the problem is likely the version you are using. Which ROS distro are we
talking about and which operating system?

On 8 Feb 2017 07:14, "pkuttam" <notifications@github.com> wrote:

controller_info.h in hardware_interface in kinetic-devel doesn't consist
variable std::string hardware_interface;. It causes error in catkin_build
ur_modern_driver. I think, we have to modify the
/opt/ros/include/

[2017-02-22 06:19] pkuttam commented on #262
Thank you. I understand it now. UR_MODERN_DRIVER has no release for ros-distro kinetic-devel.

[2017-02-22 06:19] #262 closed, assigned to nobody

[2017-02-25 02:52] mrjogo opened #265 "Multiple controller_manager spawn calls freeze a controller manager"
Using https://github.com/davetcoleman/ros_control_boilerplate/tree/0.4.0/rrbot_control as an example, replace the `ros_control_controller_manager` node in https://github.com/davetcoleman/ros_control_boilerplate/blob/0.4.0/rrbot_control/launch/rrbot_hardware.launch#L21 with:

[code]

Build and run `roslaunch rrbot_control rrbot_hardware.launch` and the controller manager stops responding, either to

[2017-02-25 10:00] bmagyar commented on #265
Your snippet clearly launches 2 controller managers so that's where the problem is.
Starting up 2 controller_manager nodes which lead to a resource and name conflict. The reason it stops responding is probably because either something gets stuck or the first controller manager dies when the second one is started.

Take a look at this [example](https://github.com/pal-robotics/tiago_simulation/blob/

[2017-02-25 15:50] mathias-luedtke commented on #265
I think the problem is that both use the same node name `ros_control_controller_manager`.
So the first might get killed in the middle of the service call.
Please try it with distinct names.

You can spawn multiple controllers at once, too:
[code]
(just realized that is this is the default for the boilerplate template)

The `spawner` script is different as it will (try to) stop the controller if it

[2017-02-25 16:40] mathias-luedtke commented on #265
I have tested it myself, and I get the same bevahior, looks like a bug.

[2017-02-27 17:28] mrjogo commented on #265
@bmagyar

The controller_manager script is just an interface to an already running controller_manager (confusing name). It's fairly similar to the spawner script, which also causes the issue if two are started.

@ipa-mdl Yes, I still see the problem with different node names.

Conceptually, I think multiple spawn nodes should be able to run together (I was using it to start some controllers using

[2017-02-27 18:23] mathias-luedtke commented on #265
Yes that should work!
I have tested it with our Care-O-bot simulation on indigo without problems.
Not sure if this is a regression bug, a bug with the default gazebo plugin or the boilerplate template..

[2017-02-27 19:02] bmagyar commented on #265
@mrjogo

Yeah, sorry for rushing to conclusion, my eyes skipped the fact that it was the python script.

This is actually not that hard to test.
I'd try launching [this](https://github.com/ros-controls/ros_control/blob/kinetic-devel/controller_manager_tests/test/cm_test.test) by hand and testing the idea against it.

[2017-04-11 07:02] mikaelarguedas opened #269 "Lunar release"
Hi `ros_control` maintainers!

As you may know the next ROS release Lunar Loggerhead is around the corner :tada:

All dependencies of `ros_control` are now released into Lunar! Please consider making a Lunar release soon to unlock [downstream packages](http://repositories.ros.org/status_page/blocked_releases_lunar.html?q=id%3D%22ros_control%22&s=6&r=1).

Thanks!

[2017-04-11 07:20] mathias-luedtke commented on #269
I have restarted the [lunar travis job](https://travis-ci.org/ros-controls/ros_control/jobs/213375251)
Update: test fails for now as `ros_controllers` misses dependencies. I have updated the tests in #270

[2017-04-11 08:54] mathias-luedtke commented on #269
@mikaelarguedas: `ros-lunar-urdf` is not yet in `ros-shadow-fixed` (but in testing). How often do they get synced?

[2017-04-11 10:08] bmagyar commented on #269
Thanks for the note!  I've started releasing bits,  all doc &  source jobs
are in already.

As Mathias said,  urdf was missing so far.

On Apr 11, 2017 09:55, "Mathias Lüdtke" <notifications@github.com> wrote:

@mikaelarguedas <https://github.com/mikaelarguedas>: ros-lunar-urdf is not
yet in ros-shadow-fixed (but in testing). How often do they get synced?

—
You are receiving this because you are

[2017-04-11 15:35] mikaelarguedas commented on #269
@ipa-mdl @bmagyar Indeed the Debian jobs failed yesterday, they are turning over now and should be available for all platforms in shadow-fixed very soon. Sorry about that

[2017-04-11 16:22] mathias-luedtke commented on #269
Tests have passed :tada:

[2017-04-11 16:40] bmagyar commented on #269
Thanks! I'll double check with a pre-release and start pulling triggers.

[2017-04-11 19:50] mikaelarguedas commented on #269
Thanks all for the quick release! I'm going to close this then. All jobs are green :tada: (the ARM ones haven't turned over though)

[2017-04-11 19:50] #269 closed, assigned to nobody

[2017-05-02 20:47] jlack1987 opened #271 "Functions with return type not returning anything"
Working on the current release of `kinetic-devel` it looks like there are some compiler warnings generated for a few methods in `InterfaceManager` that have a return type but don't have a return statement. The offenders are [here](https://github.com/ros-controls/ros_control/blob/kinetic-devel/hardware_interface/include/hardware_interface/internal/interface_manager.h#L66), [here](https://github.com

[2017-05-03 07:10] bmagyar commented on #271
Hi Jordan,
Long time, no see ;)

That bit of metaprogramming arrived with `combined_robot_hw` and I am not fully familiar with it.
Maybe @toliver could help us out on this one?